{% load i18n %}
{% autoescape off %}
{% comment %}Translators: This is an email{% endcomment %}
{% blocktranslate %}
Hi {{ user }},<br/>
<br/>
You have been invited to a Mini Tournament of {{ box_name }} at https://{{ domain }}<br/>
<br/>
Name: {{ MTname }}<br/>
{% endblocktranslate %}
{% if tournamentDescription != "" %}
{{ tournamentDescription }}<br/>
<br/>
{% endif %}
{% blocktranslate %}
Format: {{ format }}<br/>
Total Tournament Players: {{ maxPlayers }}<br/>
Players per game: {{gamePlayers}}
<br/>
Please check the "Invitations" tab in the lobby, or follow this link:<br/>
<br/>
https://{{ domain }}/MiniTournament/{{ MT_ID }}/<br/>
<br/>
Enjoy!<br/>
<br/>
{% endblocktranslate %}
{% endautoescape %}