{% extends "Lobby/layout.html" %}
{% load static %}
{% load i18n %}
{% block head %}
    <link href="{% static 'Lobby/CSS/mainSite.css' %}" rel="stylesheet" />
    <style>
	/* Ensure topBar stays on top of map */
	.topBar {
		z-index: 1000 !important;
	}

	/* Map container should be below topBar */
	#hexMapEditorDIV {
		z-index: 1;
	}

	/* Any map-specific elements should be below topBar */
	/*.map-container, .map-canvas, .map-svg {
		z-index: 1 !important;
	}*/
    </style>
{% endblock head %}
{% block body %}
    <div class="container">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% if settingsDebug %}
            <script type="module" src="http://localhost:3042/static/@vite/client"></script>
            <script type="module" src="http://localhost:3042/static/main.js"></script>
        {% else %}
            <link href="{% static 'RNB/RNBvuedist/main.css' %}?" rel="stylesheet" />
            <script type="module"
                    crossorigin=""
                    src="{% static 'RNB/RNBvuedist/main.js' %}"></script>
        {% endif %}
        <div>
            <noscript>
                <strong>Please enable Javascript to continue.</strong>
            </noscript>
            <div id="app">
                <div id="loadingText">Loading Map Editor........</div>
            </div>
        </div>
        <script>
var initData = {};

///////////////////////
initData.mapEditor = true;
initData.username = "{{ username }}";
        </script>
        {% include "Lobby/common/homeButton.html" %}
    </div>
{% endblock body %}
