{% extends "Lobby/layout.html" %}
{% load static %}
{% load i18n %}
{% block head %}
  <link href="{% static 'Lobby/CSS/mainSite.css' %}" rel="stylesheet">
  <link href="{% static 'Lobby/CSS/help.css' %}" rel="stylesheet">
{% endblock head %}
{% block body %}
  <div class="container">
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
    <div id="RNBhelpPage">
      <h1>{% translate "Not bugs" %}</h1>
      - You cannot drop a boat into a docked location from a river location
      - You cannot drop a boat into a docked location from a sea hex
      <br />
      <br />
      {% translate "For further help contact" %}
      <img id="contactEmailImg"
           src="{% static 'Lobby/email.png' %}"
           alt="Email Address"
           width="400"
           height="30">
    </div>
    {% include "Lobby/donate/donateBanner.html" %}
    {% include "Lobby/common/homeButton.html" %}
  </div>
</div>
{% endblock body %}
