{% extends "Lobby/layout.html" %}
{% load static %}
{% load i18n %}
{% block head %}
  <link href="{% static 'Lobby/CSS/mainSite.css' %}" rel="stylesheet">
  <link href="{% static 'Lobby/CSS/help.css' %}" rel="stylesheet">
{% endblock head %}
{% block body %}
  <div class="container">
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
    <div id="RNBhelpPage">
      <h1>{% translate "Not bugs" %}</h1>
      - You cannot drop a boat into a docked location from a river location
      - You cannot drop a boat into a docked location from a sea hex
      <br />
      <br />
      TODO
      =====
      - high scores by name page
      - Split up lots of res on hex
      NOT bugs
      Please check to make sure you have an actual bug, and aren’t just experiencing a quirk of the rules!
      If you are unable to move a transporter then there should be more information in the Zoom Area.
      All phases
      ========
      You can move goods around on the same tile during any phase.
      Production
      - According to the rules, a transporter that is carrying another transporter may NOT interact with any buildings.
    </div>
    {% include "Lobby/donate/donateBanner.html" %}
    {% include "Lobby/common/homeButton.html" %}
  </div>
</div>
{% endblock body %}
