{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{% static 'Lobby/favicon.png' %}" />
    <style>
    body {
      margin: 0px !important;
      background-color: #d4eafd;
      font-family: Arial, sans-serif;

    }

    #loadingText {
      transform: translate(-50%, 0%);
      position: absolute;
      font-size: 40px;
      margin-top: 20px;
      left: 50%;
      white-space: nowrap;
    }

    </style>
    <script src="{% static 'Lobby/common/pakoLib.js' %}"></script>
    {% if debug %}
      <script type="module" src="http://localhost:3042/static/@vite/client"></script>
      <script type="module" src="http://localhost:3042/static/main.js"></script>
    {% else %}
      <link href="{% static 'RNB/RNBvuedist/main.css' %}?" rel="stylesheet" />
      <script type="module"
              crossorigin=""
              src="{% static 'RNB/RNBvuedist/main.js' %}"></script>
    {% endif %}
    <title>Roads & Boats</title>
  </head>
  <body>
    <noscript>
      <strong>Please enable Javascript to continue.</strong>
    </noscript>
    <div id="app">
      <div id="loadingText">Roads & Boats is loading........</div>
      
    </div>
  </body>
  <script>
  
  var initData = {};
  
    ///////////////////////
    initData.gameID = 0;
    initData.gameName = "Test Name";
    initData.gameCreationTimestamp = 1712906318;
    initData.finishedGame = false;
    initData.startingOptions = [];
    initData.myZoomLevel = 24;
    initData.pov = 0;
    initData.name = 'Ross';
initData.latestUpdate = 1712906318;
initData.gameData = '';
initData.secondsToNextKickout = 50000;
    initData.myStatsExcludeConsent = 0;
    initData.statsExcludedGame = false;
    initData.kickoutRequired = 0;
initData.KickoutFlexiDataArray = [];
    initData.notes = 'NOTES test';
    initData.chatNotification = false;
      initData.yourTurnAudioType = 1;
      
      


    //initData.spoilerFree = true;
    //initData.replayStep = {{replayStep}}-1;

    ///////////////////////
    
    initData.chatData = "";
    
    initData.nextURL = '';
  
    ///////////////////////

	
    

//    initData.chatNotification = true;

    initData.preferredRNBcolour = 1;


    /////////////////////
		// Use this to adjust player count
		initData.playerNames = ["Ross", "Rachel"] //, "Joey", "Phoebe"];
		//initData.playerNames = ["Ross", "Rachel", "Joey"]//, "Phoebe"];
		//initData.playerNames = ["Ross", "Rachel", "Joey", "Phoebe"]
    //initData.playerNames = ["Ross", "Rachel", "Joey", "Phoebe", "Chandler"];

    //initData.displayNames = ["Ross", "Rachel", "Joey", "Phoebe"];
    initData.displayNames = []
  </script>
</html>
