DEBUG=True
LOCAL_USER=True
SEECRET_KEY_HOME_SERVER="ADD YOUR SECRET KEY HERE"
LOCAL_DB_NAME="ADD_YOUR_DB_NAME_HERE"
LOCAL_DB_USER="ADD_YOUR_DB_USER_HERE"
LOCAL_DB_PWD="ADD_YOUR_DB_PASSWORD_HERE"
WEBHOOK_ADMIN_ERROR_MSG="ADD_YOUR_WEBHOOK_HERE"
