# Ignore virtual environments
.venv/
.venv_local/
env/
venv/
venv_local/
env.bak/
venv.bak/
.venv/

# Other common ignores
*.log
logs
*.pot
*.pyc
.setup_complete
__pycache__/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
db.sqlite3
db.sqlite3-journal
media
.env

jinja2_cache/
local_settings.py
docker-compose.override.yml
node_modules
emailCounter.txt
a.bat
a.py

# Ignore the email counter
Lobby/sharedFunctions/emailCounter.txt

# Exclude the entire 'Private' directory in the project root
/Private/

# Exclude specific static directories
/FCM/static/FCM/JS/

# Exclude any folder found anywhere in subdirectories
vuePPF/
vueFCM/
staticfiles/

# Handle stats carefully and specifically
# Ignore everything inside the folder
/Lobby/stats/*
/AQY/AQYstats/*
/BOB/BOBstats/*
/BUS/BUSstats/*
/CNS/CNSstats/*
/FCM/FCMstats/*
/HLC/HLCstats/*
/IND/INDstats/*
/KFW/KFWstats/*
/RNB/RNBstats/*
/TGZ/TGZstats/*
/WEB/WEBstats/*
# But DO NOT ignore the .gitkeep file (this keeps the folder alive)
!/Lobby/stats/.gitkeep
!/AQY/AQYstats/.gitkeep
!/BOB/BOBstats/.gitkeep
!/BUS/BUSstats/.gitkeep
!/CNS/CNSstats/.gitkeep
!/FCM/FCMstats/.gitkeep
!/HLC/HLCstats/.gitkeep
!/IND/INDstats/.gitkeep
!/KFW/KFWstats/.gitkeep
!/RNB/RNBstats/.gitkeep
!/TGZ/TGZstats/.gitkeep
!/WEB/WEBstats/.gitkeep

#Private server files
Lobby/sharedFunctions/emailCounter.txt
siteUtils/creds4.txt
siteUtils/client_secrets.json
live.sql
.codeiumignore