*.log
logs
*.pot
*.pyc
.setup_complete
__pycache__/
db.sqlite3
db.sqlite3-journal
media
.env
.venv
env/
venv/
ENV/
siteUtils/
env.bak/
venv.bak/
local_settings.py
docker-compose.override.yml
node_modules

# Exclude generated stats
*stats/

# Exclude the entire 'Private' directory in the project root
/Private/

# Exclude specific static directories
/FCM/static/FCM/
/HC/static/HC/

# Exclude any folder found anywhere in subdirectories
vueTGZ/
vueAQY/
busvue/
vueIND/
vueKFW/
vueRNB/
vueWEB/
vuePPF/

# Ignore any directory that contains the word 'vuedist' anywhere (*vuedist*)
*vuedist*/
#*migration*/ # NO! Migrations should be part of git. Run MM & M on dev, and just M on live