{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "ignore",
    "insertPragma": false,
    "singleAttributePerLine": false,
    "bracketSameLine": true,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "printWidth": 9999,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": false,
    "singleQuote": false,
    "tabWidth": 2,
    "trailingComma": "es5",
    "useTabs": true,
    "embeddedLanguageFormatting": "auto",
    "vueIndentScriptAndStyle": false,
    "prettier.printWidth": 9999
}
