asgiref==3.11.0
certifi==2025.11.12
charset-normalizer==3.4.4
config==0.5.1
Django==5.2.9
django-user-visit==2.1
idna==3.11
mysqlclient==2.2.7
python-decouple==3.8
requests==2.32.5
six==1.17.0
sqlparse==0.5.4
tzdata==2025.3
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
urllib3==2.6.2
user-agents==2.2.0
django-statici18n 
lzstring
djlint
django-compressor>=4.5
jsmin>=3.0.1