{% extends "Lobby/layout.html" %}

{% load static %}
{% load i18n %}
{% block head %}
<link href="{% static 'Lobby/CSS/mainSite.css' %}?v=20230230" rel="stylesheet">
<link href="{% static 'Lobby/CSS/help.css' %}?v=20230230" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="container">
  {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div id="CNShelpPage">

    <h1>{% translate "Rules" %}</h1>
    {% translate "Cannes Rules Available <a class='linkOther' href='/static/CNS/Cannes_Rules.pdf' target='_blank' downlod>here</a>" %}
    <br />
    {% translate "Cannes Expansion Rules Available <a class='linkOther' href='/static/CNS/Cannes_Expansion_Rules.pdf' target='_blank' downlod>here</a>" %}
    <br />
    {% translate "Cannes Resource Conversion Chart Available <a class='linkOther' href='/static/CNS/Cannes_Resources.pdf' target='_blank' downlod>here</a>" %}
    <br />
    {% translate "Cannes Example Plays Availalble <a class='linkOther' href='/static/CNS/Cannes_Examples.pdf' target='_blank' downlod>here</a>" %}
    <br/>
    {% translate "How to play guide example.... Not Available. Please see Rules / Examples above" %}

    <h1>{% translate "Cannes Help" %}</h1>

      <b><u>{% translate "How do I use the website?" %}</u></b><br />
      
    <div class="CNShelpSectionMax">
      <div class="CNSsideBYsideContainer">
        <div class="CNSsideBYsideLeft">
          <img class="CNShelpImg" src="/static/CNS/help_image.jpg" alt="Help" width=492 height=304 />
        </div>
        <div class="CNSsideBYsideRight">
          A. Main Action Area to confirm / undo <br/>
          B. Number of Tiles in the Draw Pile<br/>
          C. Number of Tiles in the Discard Pile<br/>
          D. Side Action Area - Use to place tiles / increase prices / sell movies / pirate movies<br/>
          E. Side Action Area during the Place Tiles phase<br/>
          F. Rotate buttons - Only needed for party tiles with invitations<br/>
          G. Store Tile Button (Expansion Only) 
        </div>
      </div>
      <br />

      <b><u>{% translate "How does resource storage work?" %}</u></b><br />
      {% blocktranslate trimmed %}
      You can store up to 5 resources. As soon as you have 5 or fewer resources, they are automatically stored. 
      <br/><br/>
      If you are using the expansion, and do not have a tile stored, then you will have the option to discard down to 3 resources if you wish, 
      in order to have enough space to store a tile later. 
      {% endblocktranslate %}
      <br /><br />

      <b><u>{% translate "How does table size and table junk work?" %}</u></b><br />
      {% blocktranslate trimmed %}
      Tables come in small, medium, and large sizes.<br/>
      A small table should theoretically just about fit all the tiles on it. <br/>
      Medium and Large tables give a bit more space, whilst also providing boundaries to the playing area.<br/>
      <br/>In the rules, you are not allowed to remove objects that are already in the playing area.<br/>
      To simulate this, table junk can be added to block certain tile spaces from being used. <br/>
      <b>Note:</b> Sometimes the table size, or the table size after the junk has blocked some space, 
      could be too small to fit all the tiles on. In this case, when trying to place a new tile with no available space, 
      the table size will increase by one tile around every edge, in order to allow the last few tiles to be placed.
      <br/><br/>
      <b>NOTE: In order to see the entire play area, click the "Table" Zoom button in the top right</b>
      {% endblocktranslate %}
      <br /><br />

      <b><u>{% translate "Why can/can’t I remove a link?" %}</u></b><br />
      {% blocktranslate trimmed %}
      Please check the rules. <br/>
      After placing all 5 of your links, you'll be given the opportunity 
      to move some of them when it is time to place new ones on the board. 
      All of your links must always be connected to form a single network, so
      you will only be able to remove a link if all the remaining links 
      are still connected.<br/>
      <br/>
      Links are connected through adjacent tiles, as well as the entire Cannes tile. 
      Additionally, phone tiles are also connected to other phone tiles, 
      and adjacent party tiles effectively form one large tile, 
      which can be entered into through the invitations.<br/>
      <br/>
      Cigars essentially act as wild links, 
      and can be used as though they were your own, to either extend your network,
      or connect your player links into a single network. 
       Cigars can never be moved or removed once placed. <br/>
      {% endblocktranslate %}
      <br /><br />

      <b><u>{% translate "How does hidden information stay hidden?" %}</u></b><br />
      {% blocktranslate trimmed %}
      Firstly, when looking at a replay, all the "Drawn Tiles" will remain hidden.<br/>
      If a game has finished then these tiles will change to face up, as the game is already over.<br/>
      Similarly, you cannot copy a game of Cannes into a Practice Game, as this could reveal information
      about the tile order.
      <br/><br/>
      You can check the reserve to see the information that you have seen about the tile draw / discard piles. 
      The discard pile information will include all the tiles you have seen, plus the number of the unseen discards from your opponent(s). 
      The draw pile information will include ALL tiles that you haven't yet seen this shuffle. 
      Therefore, it will include all the tiles in the draw pile, plus the unseen tiles that have been discarded.
      This is because if you have not yet seen a tile this shuffle, you won't know if this is because it is still in the draw pile,
      or it has been discaded by someone else. 
      <br/><br/>
      Rewinds should be used very cautiously, as if you rewind to a previous turn of one of the players, they will already know which tiles
      they will be given on the following turn. <br/>
      A single rewind if you realise you just messed up your turn is usually OK. 
      {% endblocktranslate %}
      <br /><br />

    </div>

    <br /><br />
    {% translate "For further help contact" %} <img id="contactEmailImg" src="{% static 'Lobby/email.png' %}" alt="Email Address" width=400 height=30>

  </div>

  {% include 'Lobby/common/homeButton.html' %}

</div>

{% endblock %}