{% extends "SplotterCon/base.html" %}
{% load static %}
{% block title %}Contests{% endblock %}
{% block content %}
<div class="container page-section">
    <div class="page-intro">
        <h1>Splotter Con 2026 Contests</h1>
    </div>
    <p style="text-align:center;"><img src="{% static 'SplotterCon/images/9_01a0116.jpg' %}" alt="" style="max-height:300px;border-radius:6px;"></p>

    <h3>Milestones Contest (most Splotters played)</h3>
    <p>Turn to the <em>Milestones</em> section within your Player Aid where you will see graphics of all 21 Splotter releases plus <i>Pandemic: Rising Tide</i> (which was co-designed by Jeroen).</p>
    <ul>
        <li>The first time you play each Splotter game during the con, find a volunteer to stamp your Player Aid.</li>
        <li>The <strong>20 attendees with the most Splotter stamps will receive a prize</strong>, to be selected in descending order.
            <ul>
                <li>Results freeze Sunday, September 6 at 11:00pm ET.</li>
                <li><b>Tie Breaker:</b> There is a list of 13 games that influenced or inspired Jeroen and Joris at the bottom of the Milestones section. <strong>Folks with the same stamp quantity will use the number of these games played as tiebreakers</strong>. Check them off as you play each.</li>
            </ul>
        </li>
        <li><i>This year, we will be transitioning to web-based reporting but will use the stamp system as backup. This means <b>all of your games must be added within our scheduling system and recorded as Completed Games</b> to count – this goes for Splotters and Influential games.</i></li>
    </ul>

    <h3>Spelgids Contest (most Splotters taught)</h3>
    <p>Turn to the <em>Spelgids</em> section inside your Player Aid where you see a list of all 21 Splotters and an empty line next to each.</p>
    <ul>
        <li>Every time you <i>teach</i> a Splotter game, <b>request one of our con volunteers to stamp next to the respective game</b>.</li>
        <li>The <b>10 attendees with the most overall Splotter teaches will receive prizes</b>.
            <ul>
                <li>Results freeze Sunday, September 6 at 11:00pm ET.</li>
            </ul>
        </li>
        <li>Based on feedback from last year, we are implementing a point system this con based on complexity/length of teaches. <strong>See below for scoring matrix</strong>.</li>
        <li><i>This year, we will be transitioning to web-based reporting but will use the stamp system as backup. This means <strong>all of your games must be added within our scheduling system, recorded as Completed Games &amp; you marked as Teacher</strong> to count.</i></li>
    </ul>

    <p><strong>Splotter Con <em>Spelgid</em> (game guide):</strong> If you manage to <b>teach any single game 5 or more times</b>, you will achieve this higher status, and will receive a sticker to affix to your badge letting everyone know that you are an expert teacher for this game.</p>
    <ul>
        <li>You may earn Spelgid stickers for multiple games.</li>
    </ul>

    <p><img src="{% static 'SplotterCon/images/9_01a0132.jpg' %}" alt="Spelgids scoring" style="max-height:260px;border-radius:6px;"></p>

    <div class="two-col">
        <div>
            <h4>Heavy: 5 points</h4>
            <ul>
                <li>Antiquity</li>
                <li>Duck Dealer</li>
                <li>Food Chain Magnate</li>
                <li>FCM: Ketchup Mechanism &amp; Other Ideas</li>
                <li>Greed Incorporated</li>
                <li>Horseless Carriage</li>
                <li>Indonesia</li>
                <li>Roads &amp; Boats</li>
                <li>Ur: 1830 BC</li>
            </ul>
            <h4>Medium: 3 points</h4>
            <ul>
                <li>Bus</li>
                <li>Cannes: Stars, Scripts and Screens</li>
                <li>Spol</li>
                <li>Great Zimbabwe, The</li>
                <li>Pandemic: Rising Tide</li>
                <li>VOC! Founding the Dutch East Indies Company</li>
            </ul>
        </div>
        <div>
            <h4>Light: 1 point</h4>
            <ul>
                <li>Beest</li>
                <li>Chameleo Chameleo</li>
                <li>D'r Af</li>
                <li>Gossip</li>
                <li>Kiek</li>
                <li>Oraklos</li>
                <li>Web</li>
            </ul>
            <h4>Features Bonus: 1 point</h4>
            <p>Teach the following featured Damwise-Splotter collabs:</p>
            <ul>
                <li>Bus: Pittsburgh</li>
                <li>Gossip</li>
                <li>Web</li>
            </ul>
            <h4>Heavy Bonus: 10 points</h4>
            <p>Teach all 9 heavy games!</p>
        </div>
    </div>

    <p><img src="{% static 'SplotterCon/images/9_01a0121.jpg' %}" alt="" style="max-height:260px;border-radius:6px;"></p>

    <h3>Bus Driver Contest (most unique players)</h3>
    <p>Turn to the <em>Bus Driver</em> section inside your Player Aid.</p>
    <ul>
        <li>Every time you play a game (not just Splotters), <b>add your competitors' names to your list</b>.
            <ul>
                <li><b>Only list an individual once</b> i.e. if you play with someone multiple times, they only count as one.</li>
            </ul>
        </li>
        <li>The <b>10 attendees who played against the most different players</b> will receive a prize.
            <ul>
                <li>Results freeze Sunday, September 6 at 11:00pm ET.</li>
            </ul>
        </li>
        <li><i>This year, we will be transitioning to web-based reporting but will use the Player Aid system as backup. This means <strong>all of your games must be added within our scheduling system, recorded as Completed Games &amp; you marked as a Player</strong> to count.</i></li>
    </ul>

    <h3>Path of the Polder Pioneer (fun checklist)</h3>
    <p>Turn to the <em>Path of the Polder Pioneer</em> section inside your Player Aid where you'll find a checklist of activities to accomplish during the convention.</p>
    <ul>
        <li>Only a <strong>single winner</strong>.</li>
        <li>Every time you complete an item on the Quest Log, <b>request one of our con volunteers to initial next to it</b>.
            <ul>
                <li>You may continue to check items off to be added to drawing right up until the Wrap Up Event on Monday, September 7 at ~11AM ET.</li>
            </ul>
        </li>
        <li>Everyone who checks off at least 10 of the 15 items, will have their name entered in a <b>drawing to win a free Splotter Con 2027 badge</b>.
            <ul>
                <li>Check off all 15 &amp; receive 5 entries!</li>
            </ul>
        </li>
    </ul>
    <p><img src="{% static 'SplotterCon/images/9_01a0115.jpg' %}" alt="" style="max-height:300px;border-radius:6px;"></p>
</div>
{% endblock %}