{% extends "SplotterCon/base.html" %}
{% load static %}
{% block title %}2025 Splotter Con Gallery: Sunday{% endblock %}
{% block content %}
<div class="container page-section">
    <div class="page-intro">
        <h1>2025 Splotter Con Gallery: Sunday</h1>
    </div>
    <div class="gallery-grid">
        <a href="{% static 'SplotterCon/images/8_31a06.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31a06.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31a026.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31a026.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31c023.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31c023.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31c078.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31c078.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31c0183.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31c0183.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31c0209.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31c0209.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31c0213.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31c0213.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31c0217.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31c0217.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31la015.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31la015.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31a09.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31a09.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31a015.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31a015.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31a023.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31a023.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31b01.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31b01.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31c010.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31c010.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31c015.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31c015.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31c032.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31c032.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31c040.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31c040.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31c060.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31c060.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31c093.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31c093.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31c098.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31c098.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31c0126.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31c0126.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31c0143.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31c0143.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31c0243.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31c0243.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31la032.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31la032.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31a018.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31a018.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_31c0133.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_31c0133.jpg' %}" alt=""></a>
    </div>
</div>
{% endblock %}
