{% extends "SplotterCon/base.html" %}
{% load static %}
{% block title %}2025 Splotter Con Gallery: Friday{% endblock %}
{% block content %}
<div class="container page-section">
    <div class="page-intro">
        <h1>2025 Splotter Con Gallery: Friday</h1>
    </div>
    <div class="gallery-grid">
        <a href="{% static 'SplotterCon/images/c028.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/c028.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/c041.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/c041.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/c045.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/c045.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/c058.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/c058.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/c065.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/c065.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/c069.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/c069.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/c072.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/c072.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/c080.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/c080.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/a02.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/a02.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/a06.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/a06.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/a07.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/a07.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/a018.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/a018.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/a027new.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/a027new.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/a033.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/a033.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/a039.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/a039.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/a051.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/a051.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/a054.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/a054.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/a064.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/a064.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/a067.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/a067.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/a073.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/a073.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/a078.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/a078.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/a081.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/a081.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/a088.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/a088.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/b02.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/b02.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/b010.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/b010.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/b013.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/b013.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/b020.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/b020.jpg' %}" alt=""></a>
    </div>
</div>
{% endblock %}
