{% extends "SplotterCon/base.html" %}
{% load static %}
{% block title %}2025 Splotter Con Gallery: Saturday{% endblock %}
{% block content %}
<div class="container page-section">
    <div class="page-intro">
        <h1>2025 Splotter Con Gallery: Saturday</h1>
    </div>
    <div class="gallery-grid">
        <a href="{% static 'SplotterCon/images/8_30a08.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30a08.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30a023.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30a023.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30a032.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30a032.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30a051.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30a051.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30a056.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30a056.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30a061.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30a061.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30a075.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30a075.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30b05.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30b05.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30b016.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30b016.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30b071.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30b071.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30c011.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30c011.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30c064.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30c064.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30c070.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30c070.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30c075.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30c075.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30c089.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30c089.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30c0100.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30c0100.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30c0118.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30c0118.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30c0124.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30c0124.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30c0133.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30c0133.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30c0159.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30c0159.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30c0164.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30c0164.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30a069.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30a069.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/8_30b056.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/8_30b056.jpg' %}" alt=""></a>
    </div>
</div>
{% endblock %}
