{% extends "SplotterCon/base.html" %}
{% load static %}
{% block title %}2024 Splotter Con Gallery{% endblock %}
{% block content %}
<div class="container page-section">
    <div class="page-intro">
        <h1>2024 Splotter Con Gallery</h1>
        <p class="subtitle">August 31 - September 2, 2024 | DoubleTree Hotel in Green Tree (Pittsburgh, PA)</p>
    </div>
    <div class="gallery-grid">
        <a href="{% static 'SplotterCon/images/pxl_20240829_214415041.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240829_214415041.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240830_012526494.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240830_012526494.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240830_150753625.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240830_150753625.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240831_130123424.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240831_130123424.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240907_184140440.portrait.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240907_184140440.portrait.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240901_205742747.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240901_205742747.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240831_130105380.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240831_130105380.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240901_205735791.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240901_205735791.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240830_162344660.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240830_162344660.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240830_164500632.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240830_164500632.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240830_162331032.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240830_162331032.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240830_164526836.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240830_164526836.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240830_184506499.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240830_184506499.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240830_223540038.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240830_223540038.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240830_230726271.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240830_230726271.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240831_010312649.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240831_010312649.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240831_013543149.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240831_013543149.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240831_030047711.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240831_030047711.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240831_030133065.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240831_030133065.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240831_030204937.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240831_030204937.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240831_030237200.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240831_030237200.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240831_133739729.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240831_133739729.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240831_140543609.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240831_140543609.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240831_163745203.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240831_163745203.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240831_163903523.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240831_163903523.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240831_185733656.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240831_185733656.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240831_185751319.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240831_185751319.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240901_001837534.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240901_001837534.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240901_004436635.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240901_004436635.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240901_143846275.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240901_143846275.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240901_144431636.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240901_144431636.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240901_144610342.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240901_144610342.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240901_144620822.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240901_144620822.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240901_205749511.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240901_205749511.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240901_205825856.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240901_205825856.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240901_205833402.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240901_205833402.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240901_205846192.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240901_205846192.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_022702829.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_022702829.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_022717092.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_022717092.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_022728088.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_022728088.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_022757527.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_022757527.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_022807054.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_022807054.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_022816997.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_022816997.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_143849851.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_143849851.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_144500645.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_144500645.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_150038537.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_150038537.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_150111344.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_150111344.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_150128519.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_150128519.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_150138056.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_150138056.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_150453799.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_150453799.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_150512958.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_150512958.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_150544821.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_150544821.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_151017997.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_151017997.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_151203739.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_151203739.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_151404259.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_151404259.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_151508909.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_151508909.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_151523784.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_151523784.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_151525450.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_151525450.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_151543087.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_151543087.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_151547561.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_151547561.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_151715419.mp.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_151715419.mp.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_151859402.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_151859402.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/pxl_20240902_151905072.portrait.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/pxl_20240902_151905072.portrait.jpg' %}" alt=""></a>
    </div>
</div>
{% endblock %}
