{% extends "SplotterCon/base.html" %}
{% load static %}
{% block title %}2025 Splotter Con Gallery: Monday{% endblock %}
{% block content %}
<div class="container page-section">
    <div class="page-intro">
        <h1>2025 Splotter Con Gallery: Monday</h1>
    </div>
    <div class="gallery-grid">
        <a href="{% static 'SplotterCon/images/9_01a063_crop.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a063_crop.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a03.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a03.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a010.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a010.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a019.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a019.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a027.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a027.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a030.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a030.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a036.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a036.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a039.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a039.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a080.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a080.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a080_crop.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a080_crop.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a081.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a081.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a087.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a087.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a0104.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a0104.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a0115.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a0115.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a0121.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a0121.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a0127.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a0127.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a0132.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a0132.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a0140.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a0140.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a0156.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a0156.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a0158.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a0158.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01b02.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01b02.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01b014.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01b014.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01b017.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01b017.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01b027.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01b027.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01b031.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01b031.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01c08.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01c08.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01c059.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01c059.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01c067.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01c067.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01c078.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01c078.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01c085.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01c085.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01c092.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01c092.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01c094.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01c094.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01c098.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01c098.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01c0107.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01c0107.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01c0112.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01c0112.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a013.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a013.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a032.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a032.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a075.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a075.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a093.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a093.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a0116.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a0116.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a0135.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a0135.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a0143.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a0143.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a0144.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a0144.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a0149.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a0149.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a0168.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a0168.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01c05.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01c05.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01c044.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01c044.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01c042.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01c042.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a063.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a063.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01c051.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01c051.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01a0101.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01a0101.jpg' %}" alt=""></a>
        <a href="{% static 'SplotterCon/images/9_01b08.jpg' %}" data-lightbox><img src="{% static 'SplotterCon/images/9_01b08.jpg' %}" alt=""></a>
    </div>
</div>
{% endblock %}
