{% extends "SplotterCon/base.html" %}
{% block title %}Policies{% endblock %}
{% block content %}
<div class="container page-section">
    <div class="page-intro">
        <h2>Please Abide</h2>
        <h1>Our Policies</h1>
        <p>Be mindful of others and follow the golden rule. If you follow these, everyone should have a great time!</p>
    </div>

    <h3>Admissions</h3>
    <p>One price for the full event. Event badge includes access to the space and the attendee game library. No swapping/lending of badges is allowed. Badges should be worn prominently at all times.</p>

    <h3>Alcohol / Weapons</h3>
    <p>Neither alcohol nor weapons are permitted in the gaming area.</p>

    <h3>Code of Conduct, Covid &amp; Privacy</h3>
    <p>Please see policies below.</p>

    <h3>Food &amp; Drink</h3>
    <p>Our library consists of expensive, out of print games including ones loaned to us by friends. So please: do not eat messy, greasy food while playing our games, and do not keep open drinks on tables with our games.</p>

    <h3>Lost Items</h3>
    <p>The organizers of Splotter Con are not responsible for any lost or stolen property. If we do find anything, however, we will hold onto it for 30 days.</p>
    <p><b>Components</b>: please ensure you've checked the entire area surrounding your games to ensure you've put back every component. We found a dozen miscellaneous components on the floor last year.</p>

    <h3>Refunds</h3>
    <p>Refunds will be processed up until 30 days before the event. A small processing fee will be assessed.</p>

    <h3>Sick</h3>
    <p>If you are feeling sick, please be mindful of others and either wear a mask or do not attend. See Covid policy below.</p>

    <h3>Sportsmanship</h3>
    <p>We are here to play games and have fun. Practicing good citizenship is practicing good sportsmanship. Respect the integrity and personality of each player. Abide by and teach the rules of the game in letter and in spirit. Teach new players when possible.</p>

    <h5>Hopefully Unnecessary</h5>
    <h3>Splotter Con Event Team</h3>
    <p>If you have been harassed or witness any harassment, please find one of us and report it. We will also be available to stamp your contest Player Aids, teach games, answer convention questions, connect you with other players &amp; help out as best we can.</p>

    <h2>Code of Conduct</h2>
    <p>All attendees, speakers, sponsors and volunteers at our convention are required to agree with the following code of conduct. Organizers will enforce this code throughout the event. We expect cooperation from all attendees to help ensure a safe environment for everybody.</p>
    <p><strong>SUMMARY</strong><br>
    Our convention is dedicated to providing a <strong>harassment-free experience for everyone</strong>, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or any other life choices. We do not tolerate harassment of attendees in any form. Sexual language and imagery is not appropriate for any venue, including talks, play space, parties, Twitter and other online media. Attendees violating these rules may be sanctioned or expelled from the event without a refund at the discretion of the organizers.</p>
    <p><strong>DETAILS</strong><br>
    Harassment includes, but is not limited to, offensive verbal or written comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, life choices, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of games or other events, inappropriate physical contact, and unwelcome sexual attention.</p>
    <p>Attendees asked to stop any harassing behavior are expected to comply immediately. Arguing about the situation will not help.</p>
    <p>If an attendee engages in harassing behavior, the organizers may take any action they deem appropriate, including warning the offender or expulsion from the event with no refund.</p>
    <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact one of our two Con Liaisons immediately.</p>
    <p>Con Liaisons will be happy to help attendees contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the event. We value your attendance.</p>
    <p>We expect attendees to follow these rules at the venues and related social events.</p>

    <h2>Privacy Policy</h2>
    <p>This privacy policy discloses the privacy practices for Splotter Con. This privacy policy applies solely to information collected by this web site.</p>
    <p><strong>INFORMATION COLLECTION, USE, AND SHARING</strong><br>
    We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email, online form, or other direct contact from you. We will not sell or rent this information to anyone.</p>
    <p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization.</p>
    <p>Unless you ask us not to, we may contact you in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>

    <h2>Covid Policy</h2>
    <p>The health and safety of Splotter Con participants is a top priority. We are basing our policies on the current US Center For Disease Control guidelines for in-person events. As such, vaccines are strongly encouraged at Splotter Con, but they are not required. We encourage guests to be mindful of their impact on others, to be mindful of symptoms, and to mask or stay home as needed to protect the health and safety of all. But based on the CDC guidelines, we will not require proof of vaccination or masks at the 2026 convention.</p>
    <p>As a courtesy to those immunocompromised and otherwise, however, please respect an attendee's request for their entire table to mask. We will have free masks available at the con.</p>
    <p>While continuously monitoring the situation, Splotter Con reserves the right to change these policies if conditions warrant at any time, including up to the start date of the convention.</p>
</div>
{% endblock %}