{% extends "SplotterCon/base.html" %}
{% block title %}Prize Distribution{% endblock %}
{% block content %}
<div class="container page-section">
    <div class="page-intro">
        <h1>Prize Distribution &amp; General Rules</h1>
        <p class="subtitle">Applicable to All Splotter Con Contests &amp; Tournaments</p>
    </div>

    <p>We are continuing our tradition of highly engaging contests and tournaments at this year's Splotter Con. In addition to our four contests and flagship <em>Devil's Egg Tournament</em>, we are also launching a dedicated <em>The Great Zimbabwe Tournament</em> this year. Below are some general rules, guidance, and explanation of prize distribution for all contests and tournaments.</p>

    <h3>Overview &amp; General Rules</h3>
    <ul>
        <li>As part of your <i>Con Swag Bag</i>, you will receive a Player Aid where you can track your contest &amp; tournament progress.</li>
        <li>All prizes will be <b>distributed at our Wrap Up event</b> on Monday at 11:00 AM (or once the <em>Devil's Egg Tournament</em> Final is finished).</li>
        <li>Only <b>one prize per attendee.</b> If you win multiple contests / tournaments, you are permitted to select your highest placement in order to receive an earlier prize.</li>
        <li>Due the feedback about the Wrap Up event's length and because attendance has grown significantly since our first year, <strong>we will be limiting prizes to the top 5 finishers in each contest &amp; the four finalists in each tournament.</strong></li>
        <li>You <b>must be present</b> to pick up your prize. This is to encourage folks to stick around for the entire con.</li>
        <li>The prizes will be on display the entire weekend so please determine a handful of items you'd like if you win a prize. Because in order to move things along swiftly, each prize winner <b>will be asked to select a prize immediately upon being called</b>.</li>
    </ul>

    <h3>Prize Distribution Order</h3>
    <ul>
        <li>Before we distribute prizes from our sponsors, we will select the winner of the <em>Path of the Polder Pioneer</em> contest who will receive a <strong>complimentary badge to Splotter Con 2027</strong>.</li>
        <li>Prize selection will proceed in a rotating order, beginning with the <strong>1st-place winners and continuing through the 4th-place winners</strong> of each event. The rotation order is as follows: <strong>Devil's Egg Tournament → Milestones → Spelgids → The Great Zimbabwe Tournament → Bus Driver</strong></li>
        <li>After all 1st–4th place winners have selected prizes, <strong>5th-place finishers</strong> from the following contests will receive prizes, in this order: <strong>Milestones → Spelgids → Bus Driver</strong></li>
    </ul>
</div>
{% endblock %}