{% load static i18n %}

  <tr class="row09 gameRow {% if not game.involvedPlayer %}otherWaitingGame{% endif %} {% if game.learningGame %}learningGame{% endif %}"
      id="{{ game.gameCode }}gamesRow{{ game.gameID }}">
    <td class="col-icon">{% include 'Lobby/gameDisplay/gameIcons.html' with gameCode=game.gameCode %}</td>
    <td class="col-game" data-label="{% translate "Game Name" %}">
      <strong class="col-game-name">{{ game.gameName }}</strong>
      {% if game.gameDescription %}
        <small class="game-desc col-game-note"><i>{{ game.gameDescription }}</i></small>
      {% endif %}
      <small class="col-game-note">
        <a href="{% url 'playerInfo' usernameToProfile=game.creator %}">{{ game.creator }}</a> ·
        {{ game.pace|safe }}
        {% if game.learningGame %}· <span class="pill pill-accent">Learning</span>{% endif %}
        {% if game.experiencedGame %}· <span class="pill pill-accent">Experienced</span>{% endif %}
      </small>
    </td>
    <td class="col-players" data-label="{% translate "Players" %}">
      <span class="">{{ game.allPlayers|length }}/{{ game.maxPlayers }}</span>
      {% for player in game.allPlayers %}<a href="{% url 'playerInfo' usernameToProfile=player %}">{{ player }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
    </td>
    <td class="col-options" data-label="{% translate "Options" %}">
      {% if game.startingMap and game.gameCode == "FCM" %}
        <img class="startingOption startingMap"
             alt="Map"
             src="{% static "Lobby/images/createMap.jpg" %}"
             title="Custom Map - Click to View"
             data-map="{{ game.startingMap }}"
             data-game="FCM">
      {% endif %}
      {% if game.startingMap and game.gameCode == "TGZ" %}
        <img class="startingOption startingMap"
             alt="Map"
             src="{% static "Lobby/images/createMapTGZ.jpg" %}"
             title="Custom Map - Click to View"
             data-map="{{ game.startingMap }}"
             data-game="TGZ">
      {% endif %}
      {% if game.startingMap and game.gameCode == "AQY" %}
        <img class="startingOption startingMap"
             alt="Map"
             src="{% static "Lobby/images/createMapAQY.jpg" %}"
             title="Custom Map - Click to View"
             data-map="{{ game.startingMap }}"
             data-game="AQY">
      {% endif %}
      {% if game.startingMap and game.gameCode == "RNB" %}
        <img class="startingOption startingMap"
             alt="Map"
             src="{% static "Lobby/images/createMapRNB.jpg" %}"
             title="Click to View Map"
             data-map="{{ game.startingMap }}"
             data-game="RNB"
             data-gameID="{{ game.gameID }}">
      {% endif %}
      {% if game.startingOptionsHTML and game.startingOptionsHTML != "[None]" %}{{ game.startingOptionsHTML|safe }}{% endif %}
      {% include 'Lobby/gameDisplay/kickoutHTML.html' with kickoutDuration=game.kickoutDuration %}
    </td>
    <td class="col-status" data-label="{% translate "Created" %}">
      <span class="timeToConvertSpan">{{ game.created }}</span>
    </td>
    <td class="col-cta" data-label="{% translate "Join" %}">
      {% if game.involvedPlayer %}
        <div class="buttonDiv Leave leaveDeclineLink waiting">{% translate "Leave" %}</div>
      {% else %}
        <div class="buttonDiv Join availableLink">{% translate "Join" %}</div>
      {% endif %}
      <button class="copyGameLinkButtonInTable button-ghost button-sm"
              onclick="copyToClipboard('https://www.onlineboardgamers.com/join/{{ game.gameCode }}{{ game.gameID }}/', event); event.preventDefault();">
        {% translate "Copy Link" %}
      </button>
    </td>
  </tr>

