{% load static i18n %}
{% if request.use_new_design %}
<tr class="nd-row09 {{ Mini_Tournament.gameCode }}"
    id="tournamentRow{{ Mini_Tournament.Tournament_id }}"
    onclick="window.location.href='/MiniTournament/{{ Mini_Tournament.Tournament_id }}/';">
  <td class="nd-col-icon">{% include 'Lobby/gameDisplay/gameIcons.html' with gameCode=Mini_Tournament.gameCode %}</td>
  <td class="nd-col-game">
    <strong>{{ Mini_Tournament.tournamentName }}</strong>
    {% if Mini_Tournament.tournamentDescription %}<br><small><i>{{ Mini_Tournament.tournamentDescription }}</i></small>{% endif %}
  </td>
  <td class="nd-col-players">
    {{ Mini_Tournament.maxTournamentPlayers }} total · {{ Mini_Tournament.maxGamePlayers }} per game
  </td>
  <td class="nd-col-options">
    {% if Mini_Tournament.startingOptionsHTML == "[None]" %}None{% else %}{{ Mini_Tournament.startingOptionsHTML|safe }}{% endif %}
  </td>
  <td class="nd-col-status">{{ Mini_Tournament.tournamentType }}</td>
  <td class="nd-col-cta">
    <span class="timeToConvertSpan nd-small nd-muted">{{ Mini_Tournament.createdTS }}</span>
  </td>
</tr>
{% else %}
<tr class="clickableGameRow {{ Mini_Tournament.gameCode }}"
    id="tournamentRow{{ Mini_Tournament.Tournament_id }}"
    onclick="window.location.href='/MiniTournament/{{ Mini_Tournament.Tournament_id }}/';">
  <td>{% include 'Lobby/gameDisplay/gameIcons.html' with gameCode=Mini_Tournament.gameCode %}</td>
  <td class="nameTDavailable">
    {{ Mini_Tournament.tournamentName }}
    {% if Mini_Tournament.tournamentDescription %}
      <br />
      <i>{{ Mini_Tournament.tournamentDescription }}</i>
    {% endif %}
  </td>
  <td>{{ Mini_Tournament.maxTournamentPlayers }}</td>
  <td>{{ Mini_Tournament.maxGamePlayers }}</td>
  <td>{{ Mini_Tournament.tournamentType }}</td>
  <td>{{ Mini_Tournament.startingOptionsHTML|safe }}</td>
  <td>
    <span class="timeToConvertSpan">{{ Mini_Tournament.createdTS }}</span>
  </td>
</tr>
{% endif %}
