{% load static i18n %}
<tr class="clickableGameRow {% if game.myMove %}myMove{% endif %} {% if game.kickoutRequiredNum == 1 %} kickoutRequired1{% elif game.kickoutRequiredNum == 2 %}kickoutRequired2{% endif %}"
    id="{{ game.gameCode }}gamesRow{{ game.gameID }}"
    onclick="window.location.href='/{{ game.gameCode }}/{{ game.gameID }}/show/';">
  <td class="nameTDcurrent tdWithBox" id="td1">
    {% if game.chatNotification %}
      <img class="startingOption"
           alt="Str Opt"
           width="50"
           height="50"
           src="{% static "Lobby/images/icon-chat-lobby.svg" %}"
           title="New Chat Message">
    {% endif %}
    {% include 'Lobby/gameDisplay/gameIcons.html' with game=game.gameCode %}
    <a href="/{{ game.gameCode }}/{{ game.gameID }}/show/">{{ game.gameName }}
      {% if game.gameDescription %}- <i>{{ game.gameDescription }}</i>{% endif %}
    </a>
    {% if game.startingMap and game.gameCode == "FCM" %}
      <img class="startingOption startingMap"
           alt="Map"
           width="50"
           height="50"
           src="{% static "Lobby/images/createMap.jpg" %}"
           title="Click to View Map"
           data-map="{{ game.startingMap }}"
           data-game="FCM">
    {% endif %}
    {% if game.startingMap and game.gameCode == "TGZ" %}
      <img class="startingOption startingMap"
           alt="Map"
           width="50"
           height="50"
           src="{% static "Lobby/images/createMapTGZ.jpg" %}"
           title="Click to View Map"
           data-map="{{ game.startingMap }}"
           data-game="TGZ">
    {% endif %}
    {% if game.startingMap and game.gameCode == "AQY" %}
      <img class="startingOption startingMap"
           alt="Map"
           width="50"
           height="50"
           src="{% static "Lobby/images/createMapAQY.jpg" %}"
           title="Click to View Map"
           data-map="{{ game.startingMap }}"
           data-game="AQY">
    {% endif %}
    {{ game.startingOptionsHTML|safe }}
  </td>
  <td>
    {% if game.deleteableGame %}
      <div id="{{ game.gameCode }}deleteTrainingGame{{ game.gameID }}"
           class="deleteTrainingGame">
        {% blocktranslate trimmed %}
          Delete
          <br />
          Practice
          <br />
          Game
        {% endblocktranslate %}
      </div>
    {% else %}
      <a href="{% url 'playerInfo' usernameToProfile=game.creator %}">{{ game.creator }}</a>
    {% endif %}
  </td>
  <td>
    {% for player in game.allPlayers %}
      <a href="{% url 'playerInfo' usernameToProfile=player %}">{{ player }}</a>
      {% if not forloop.last %},{% endif %}
    {% endfor %}
  </td>
  <td>{{ game.currentPlayers }}</td>
  <td>{{ game.currentTurn }}</td>
  <!--<td>{{ game.created }}</td>-->
  <td>{{ game.pace|safe }}</td>
  <td>
    <span class="timeToConvertSpan">{{ game.latestUpdate }}</span>
    {% if 'SHADOW' not in game.allPlayers %}
      {% include 'Lobby/gameDisplay/kickoutHTML.html' with kickoutDuration=game.kickoutDuration %}
    {% endif %}
    <br />
    {{ game.latestUpdateElapsedTimeString }}
  </td>
</tr>
