{% load static i18n %}
{% if request.use_new_design %}
<tr class="nd-row09 gameRow" id="{{ game.gameCode }}gamesRow{{ game.gameID }}">
  <td class="nd-col-icon">{% include 'Lobby/gameDisplay/gameIcons.html' with gameCode=game.gameCode %}</td>
  <td class="nd-col-game" data-label="{% translate "Game Name" %}">
    <strong>{{ game.gameName }}</strong>
    {% if game.gameDescription %}<br><small><i>{{ game.gameDescription }}</i></small>{% endif %}
    <br><small class="">{% translate "by" %} <a href="{% url 'playerInfo' usernameToProfile=game.creator %}">{{ game.creator }}</a> · {{ game.pace|safe }}</small>
  </td>
  <td class="nd-col-players" data-label="{% translate "Players" %}">
    <span class="">{{ game.allPlayers|length }}/{{ game.maxPlayers }}</span>
    {% for player in game.allPlayers %}<a href="{% url 'playerInfo' usernameToProfile=player %}">{{ player }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
  </td>
  <td class="nd-col-options" data-label="{% translate "Options" %}">
    {% if game.startingMap and game.gameCode == "FCM" %}<img class="startingOption startingMap" alt="Map" src="{% static "Lobby/images/createMap.jpg" %}" title="Click to View Map" data-map="{{ game.startingMap }}" data-game="FCM">{% endif %}
    {% if game.startingMap and game.gameCode == "TGZ" %}<img class="startingOption startingMap" alt="Map" src="{% static "Lobby/images/createMapTGZ.jpg" %}" title="Click to View Map" data-map="{{ game.startingMap }}" data-game="TGZ">{% endif %}
    {% if game.startingMap and game.gameCode == "AQY" %}<img class="startingOption startingMap" alt="Map" src="{% static "Lobby/images/createMapAQY.jpg" %}" title="Click to View Map" data-map="{{ game.startingMap }}" data-game="AQY">{% endif %}
    {% if game.startingMap and game.gameCode == "RNB" %}<img class="startingOption startingMap" alt="Map" src="{% static "Lobby/images/createMapRNB.jpg" %}" title="Click to View Map" data-map="{{ game.startingMap }}" data-game="RNB" data-gameID="{{ game.gameID }}">{% endif %}
    {% if game.gameCode != "TGZ" and not game.startingMap and not game.startingOptionsHTML or game.gameCode != "TGZ" and not game.startingMap and game.startingOptionsHTML == "[None]" %}<span class="nd-no-options">{% translate "No options" %}</span>{% else %}{{ game.startingOptionsHTML|safe }}{% endif %}
  </td>
  <td class="nd-col-status" data-label="{% translate "Invited" %}"><span class="nd-pill nd-pill-accent">{% translate "Invited" %}</span></td>
  <td class="nd-col-cta" data-label="{% translate "Accept / Decline" %}">
    <span class="timeToConvertSpan">{{ game.created }}</span><br>
    <div class="buttonDiv Join availableLink">{% translate "Accept" %}</div>
    <div class="buttonDiv Leave leaveDeclineLink invitations">{% translate "Decline" %}</div>
    <input type="text" class="declineInputClass" id="{{ game.gameCode }}declineReason{{ game.gameID }}" placeholder="{% translate 'Reason (optional)' %}">
  </td>
</tr>
{% else %}
<tr class="gameRow" id="{{ game.gameCode }}gamesRow{{ game.gameID }}">
  <td>
    <div class="buttonDiv Join availableLink">{% translate "Join" %}</div>
  </td>
  <td class="tdWithBox">
    {% if game.kickoutDuration < 100 %}
      <span id="shortKickoutSpan">
        {% if game.kickoutDuration == 5 %}
          [ 5 Min Kickout ]
        {% elif game.kickoutDuration == 10 %}
          [ 10 Min Kickout ]
        {% elif game.kickoutDuration == 20 %}
          [ 20 Min Kickout ]
        {% elif game.kickoutDuration == 50 %}
          [ 12 Hour Kickout ]
        {% endif %}
      </span>
    {% endif %}
    {% include 'Lobby/gameDisplay/gameIcons.html' with gameCode=game.gameCode %}
    {{ game.gameName }}
    {% if game.gameDescription %}- <i>{{ game.gameDescription }}</i>{% endif %}
  </td>
  <td>
    <a href="{% url 'playerInfo' usernameToProfile=game.creator %}">{{ game.creator }}</a>
  </td>
  <td>{{ game.maxPlayers }}</td>
  <td>{{ game.pace|safe }}</td>
  <td>
    {% for player in game.allPlayers %}
      <a href="{% url 'playerInfo' usernameToProfile=player %}">{{ player }}</a>
      {% if not forloop.last %},{% endif %}
    {% endfor %}
  </td>
  <td>
    {% for player in game.invitedPlayers %}
      <a href="{% url 'playerInfo' usernameToProfile=player %}">{{ player }}</a>
      {% if not forloop.last %},{% endif %}
    {% endfor %}
  </td>
  <td>
    <span class="timeToConvertSpan">{{ game.created }}</span>
    <br />
    {{ game.latestUpdateElapsedTimeString }}
  </td>
  <td class="availGamesStartingOptionsTD">
    {% if game.startingMap and game.gameCode == "FCM" %}
      <img class="startingOption startingMap"
           alt="Map"
           width="50"
           height="50"
           src="{% static "Lobby/images/createMap.jpg" %}"
           title="Click to View Map"
           data-map="{{ game.startingMap }}"
           data-game="FCM">
    {% endif %}
    {% if game.startingMap and game.gameCode == "TGZ" %}
      <img class="startingOption startingMap"
           alt="Map"
           width="50"
           height="50"
           src="{% static "Lobby/images/createMapTGZ.jpg" %}"
           title="Click to View Map"
           data-map="{{ game.startingMap }}"
           data-game="TGZ">
    {% endif %}
    {% if game.startingMap and game.gameCode == "AQY" %}
      <img class="startingOption startingMap"
           alt="Map"
           width="50"
           height="50"
           src="{% static "Lobby/images/createMapAQY.jpg" %}"
           title="Click to View Map"
           data-map="{{ game.startingMap }}"
           data-game="AQY">
    {% endif %}
    {% if game.startingMap and game.gameCode == "RNB" %}
      <div class="RNBinfoContainer">
        <img class="startingOption startingMap"
             alt="Map"
             width="50"
             height="50"
             src="{% static "Lobby/images/createMapRNB.jpg" %}"
             title="Click to View Map"
             data-map="{{ game.startingMap }}"
             data-game="RNB"
             data-gameID="{{ game.gameID }}" />
      </div>
    {% endif %}
    {{ game.startingOptionsHTML|safe }}
  </td>
  <td>
    <div class="buttonDiv Leave leaveDeclineLink invitations">{% translate "Decline" %}</div>
    <input type="text"
           class="declineInputClass"
           id="{{ game.gameCode }}declineReason{{ game.gameID }}"
           placeholder="{% translate "You may give a reason" %}">
  </td>
</tr>
{% endif %}
