{% extends "Lobby/layout.html" %}

{% load i18n %}
{% load static %}

{% block head %}
<link href="{% static 'Lobby/CSS/mainSite.css' %}?v=20230230" rel="stylesheet">
{% endblock %}
{% block body %}

<div class="container">

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

  <!--Password Reset Complete-->
    <h1>Password reset complete</h1>
    <hr>
    <h2>Your password has been reset. Please <a href="{% url 'myLogin' %}">Login</a></h2>                 
</div>

{% endblock %}