{% extends "Lobby/layout.html" %}

{% block body %}

<!-- UNUSED -->
<div class="container formsPage">

    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}
    
	<!--Reset Password-->
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'index' %}">Back</a>
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}

