{% if gameCode == 'FCM' %}
    <img src="{{ static('FCM/images/burger_board.png') }}"
         class="gameIcon"
         alt="FCM game"
         height="50"
         width="50"
         title="FCM Game">
{% elif gameCode == 'HC' %}
    <img src="{{ static('HC/images/icon_car.png') }}"
         class="gameIcon"
         alt="HC game"
         height="50"
         width="50"
         title="HC Game">
{% elif gameCode == 'BUS' %}
    <img src="{{ static('BUS/images/bus_icon.png') }}"
         class="gameIcon"
         alt="Bus game"
         height="50"
         width="50"
         title="Bus Game">
{% elif gameCode == 'TGZ' %}
    <img src="{{ static('TGZ/images/tgz_icon.png') }}"
         class="gameIcon"
         alt="TGZ game"
         height="50"
         width="50"
         title="TGZ Game">
{% elif gameCode == 'CNS' %}
    <img src="{{ static('CNS/images/cns_icon.png') }}"
         class="gameIcon"
         alt="CNS game"
         height="50"
         width="50"
         title="CNS Game">
{% elif gameCode == 'AQY' %}
    <img src="{{ static('AQY/images/aqy_icon.png') }}"
         class="gameIcon"
         alt="AQY game"
         height="50"
         width="50"
         title="AQY Game">
{% elif gameCode == 'IND' %}
    <img src="{{ static('IND/images/ind_icon.png') }}"
         class="gameIcon"
         alt="IND game"
         height="50"
         width="50"
         title="IND Game">
{% elif gameCode == 'KFW' %}
    <img src="{{ static('KFW/images/kfw_icon.png') }}"
         class="gameIcon"
         alt="KFW game"
         height="50"
         width="50"
         title="KFW Game">
{% elif gameCode == 'WEB' %}
    <img src="{{ static('WEB/images/web_icon.png') }}"
         class="gameIcon"
         alt="WEB game"
         height="50"
         width="50"
         title="WEB Game">
{% elif gameCode == 'RNB' %}
    <img src="{{ static('RNB/images/rnb_icon.png') }}"
         class="gameIcon"
         alt="RNB game"
         height="50"
         width="50"
         title="RNB Game">
{% else %}
    <>
{% endif %}
