{% extends "Lobby/layout.html" %}
{% load static %}
{% load i18n %}
{% block head %}
  <link href="{% static 'Lobby/CSS/mainSite.css' %}" rel="stylesheet">
  <link href="{% static 'Lobby/CSS/help.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
  <div class="container">
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
    <div id="KFWhelpPage">
      <h1>{% translate "Rules" %}</h1>
      {% blocktranslate %}
        Web Rules Available <a class='linkOther' href='/static/WEB/Web_Rules.pdf' target='_blank' downlod>here</a>
        {% endblocktranslate %}
      <br />
      <h1>{% translate "Web Help" %}</h1>
      <h3>
        <b><u>{% translate "Playing the Game" %}</u></b>
      </h3>
      <div class="maxWidthContainerDiv">
        <div class="leftTextAlignDiv">
          <div class="imageWithTextDiv">
            <img src="{% static 'WEB/images/icon-box.svg' %}"
                 alt="Reserve"
                 width="50"
                 height="50"
                 class="topMenuIconForHelp imageWithTextIconImg">
            {% blocktranslate trimmed %}
              You can view unused tiles in the Reserve.
              <br />
              This includes your opponents' unplcaed tiles, as well as face up tile stacks (as you haven't seen their action number)
              <br />
              You can also view each players remaining flex time.
            {% endblocktranslate %}
          </div>
          <div class="imageWithTextDiv">
            <img src="{% static 'WEB/images/icon-rewind.svg' %}"
                 alt="Reserve"
                 width="50"
                 height="50"
                 class="topMenuIconForHelp imageWithTextIconImg">
            {% blocktranslate trimmed %}
              Any player can rewind the game at any time.
              <br />
              If rewinding the game would "undo" revealing any hidden information, you will be informed
              before you rewind, and if you continue to rewind it will be recoded in the History.
            {% endblocktranslate %}
          </div>
          <div class="imageWithTextDiv">
            <img src="{% static 'Lobby/images/help/WEBselectTile.jpg' %}"
                 alt="Select a Tile"
                 width="379"
                 height="50"
                 id="WEBselectTileImg">
            <p>
              {% blocktranslate trimmed %}
                At the start of your turn, you must add a tile from your supply to the grid.
                <br />
                After selecting a tile, you may rotate it.
                <br />
                Be Careful! If you ever run out of tiles, you will not be able to take any more actions in the game.
              {% endblocktranslate %}
            </p>
          </div>
          <div class="imageWithTextDiv">
            <img src="{% static 'Lobby/images/help/WEBnoSupply.jpg' %}"
                 alt="No Supply"
                 width="150"
                 height="143">
            <p>
              {% blocktranslate trimmed %}
                If a player takes the last tile in a supply pile, the game will end immediately.
                <br />
                You will get a warning before this happens.
              {% endblocktranslate %}
            </p>
          </div>
        </div>
      </div>
      <h3>
        <b><u>{% translate "Gameplay" %}</u></b>
      </h3>
      <div class="maxWidthContainerDiv">
        <div class="leftTextAlignDiv">
          {% blocktranslate trimmed %}
            <b>Game End:</b> The game will end when EITHER one supply pile runs out, OR only 1 player has tiles left in their supply.
          {% endblocktranslate %}
          <br />
          <br />
          {% blocktranslate trimmed %}
            <b>Tied Scores:</b> If scores are tied at the end of the game, all tied player will jointly win.
          {% endblocktranslate %}
        </div>
      </div>
      <br />
      {% translate "For further help contact" %}
      <img id="contactEmailImg"
           src="{% static 'Lobby/email.png' %}"
           alt="Email Address"
           width="400"
           height="30">
    </div>
    {% include 'Lobby/common/homeButton.html' %}
  </div>
{% endblock %}
