{% extends "Lobby/layout.html" %}
{% load static i18n compress %}
{% block head %}
    <link href="{% static 'Lobby/CSS/mainSite.css' %}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div class="container" id="HCgameSummaryPage">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <h1>{% translate "Horseless Carriage Game Summary" %}</h1>
        <a class="linkOther" href="/HC/{{ gameID }}/">Back to Game</a>
        <br />
        <br />
        <!--<b>NOTE: GAMES CREATED BEFORE 11 MARCH MIGHT HAVE MISSING OR INCOMPLETE INFORMATION</b><br /><br />-->
        <div class="centeredDiv">
            <canvas id="gameMoneySummary" class="HCsummaryGraph"></canvas>
            <canvas id="gameIncomeSummary" class="HCsummaryGraph"></canvas>
        </div>
        {% include 'Lobby/donate/donateBanner.html' %}
        {% include 'Lobby/common/homeButton.html' %}
    </div>
    <script>
	var global = {};

	global.gameName = '{{ gameName }}';

	{% if gameData %}global.load = '{{ gameData|safe }}';{% endif %}

	global.HCgameSummary = true;
    </script>
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'HC/JS/lib/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'HC/JS/lib/lodash.min.js' %}"></script>
    {% compress js %}
        <script src="{% static 'HC/HCgameSummary.js' %}"></script>
    {% endcompress %}
    {% if settingsDEBUG %}
        <script src="/static/HC/JS/Roger.js"></script>
        <script src="/static/HC/JS/HCutils.js"></script>
        <script src="/static/HC/JS/HCreference.js"></script>
        <script src="/static/HC/JS/HCplayer.js"></script>
        <script src="/static/HC/JS/HCrules.js"></script>
        <script src="/static/HC/JS/HCfactory.js"></script>
        <script src="/static/HC/JS/HCmodel.js"></script>
        <script src="/static/HC/JS/HCview.js"></script>
        <script src="/static/HC/JS/HCcontroller.js"></script>
        <script src="/static/HC/JS/HChistory.js"></script>
        <script src="/static/HC/JS/HCio.js"></script>
        <script src="/static/HC/JS/HCbot.js"></script>
        <script src="/static/HC/JS/HCwebsocket.js"></script>
        <script src="/static/HC/JS/HCmain.js"></script>
    {% else %}
        <script src="{% static 'HC/JS/HCmain.js' %}"></script>
    {% endif %}
{% endblock %}
