{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="iso8859-1">
  <link href="{% static 'HC/HC.css' %}" rel="stylesheet">
  <link rel="icon" type="image/png" href="{% static 'HC/Images/hc_icon.png' %}" />

  <meta name="title" content="Online Board Gamers - Horseless Carriage">
  <meta name="description"
        content="Play Splotter's Horseless Carriage Online for free with others, or solo!">
  <meta name="keywords"
        content="Horseless,Carriage,Online,Play,Board,Game,Games,Gamers">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="revisit-after" content="200 days">
  <meta name="author" content="Online Board Gamers">
  <title>OBG - {{ gameName }}</title>
</head>

<body>
  <div>
    <div id="top">
      <div id="menu">

        <a href="{% url 'index' %}">
          <span class="topMenuItem" data-type="0"><img src="{% static 'FCM/Images/house.svg' %}">
            <span>{% translate "Home" %}</span>
          </span></a>

          <span class="topMenuItem" data-type="5" id="menuButtonChat"><img src="{% static 'FCM/Images/talk.svg' %}">
            <span>{% translate "Chat" %}</span></span>

        <span class="topMenuItem" data-type="2" id="menuButtonBug"><img
            src="{% static 'FCM/Images/stop-sign.svg' %}"><span>{% translate "Bug" %}</span></span>

                        <!-- IF LOGGED IN -->
                        <a href="{{ nextURL|safe }}">
                          <span class="topMenuItem" id="menuButtonNext"><img
                            src="{% static 'HC/Images/icon-nextGame.svg' %}" />
                        <span>Next </span></span></a>

                        <div class="menuDivider"></div>

                        <a href="{% url 'HC:HChelp' %}" target="_blank"><span class="topMenuItem" data-type="1"><img
                          src="{% static 'HC/Images/icon-rulebook.svg' %}"><span>{% translate "Rules" %}</span></span></a>

                          {% if involvedPlayer %}
                          <span class="topMenuItem" data-type="3" id="menuButtonNotes"><img src="{% static 'FCM/Images/notebook.svg' %}">
                            <span>{% translate "Notes" %}</span></span> 
                          {% endif %}

            <span class="topMenuItem" data-type="7" id="reserveMenuButton"><img
              src="{% static 'FCM/Images/cardboard-box.svg' %}"><span>{% translate "Reserve" %}</span></span>

              <div class="menuDivider"></div>

        <span class="topMenuItem" data-type="4" id="menuButtonHistory"><img
            src="{% static 'FCM/Images/scroll-unfurled.svg' %}"><span>{% translate "History" %}</span></span>
          
            <div class="menuDivider"></div>

            {% if involvedPlayer %}
            <span class="topMenuItem" data-type="10"><img
              src="{% static 'FCM/Images/rewind.svg' %}"><span>{% translate "Rewind" %}</span></span>
              {% endif %}

        <!--<span class="topMenuItem" data-type="9" id="assistanceMenuButton"><img id="assistIcon"
            src="{% static 'FCM/Images/assistance.svg' %}"><span>AID</span></span>-->

      </div>

      <div id="topRight">
        <span class="live"></span>
        <div id="liveDiv">{% translate "Connecting to server" %}.....</div>
        <div id="loggedInDiv">{% if user.is_authenticated %}{% translate "Logged in as" %}: {{ user.username }}{% endif %}<BR /><span
            id="kickoutTimerSpan">{% translate "Time to next kickout" %}: <span id="kickoutTimerTimer"></span></span></div>

        <div id="testDiv"></div>
        <div id="zoomDiv">
          <!--<label id="zoomLabel">ZOOM</label><BR />
          <input class="zoomButton" type="button" value="+" onclick="V.doZoom(1)">&nbsp;<input class="zoomButton"
            type="button" value="-" onclick="V.doZoom(-1)">-->

        </div>
      </div>

      {% if rewindPanelType == 1 and not finishedGame %}
      <div id="dropdownContainer">
        <!--<div id="showDropdown">Rewind Game Info ↓ </div>-->

        <div id="dropdown">
          {% blocktranslate trimmed %}
          You can give permission for the host to rewind the game back to the start of the restructuring phase.
          All players must give permission before the host is able to rewind the game.
          {% endblocktranslate %}

          <BR />
          {% if tournamentGame %}
          <BR /><b>{% translate "Tournament games are a bit more competitive, so rewinds should not be expected" %}</b><BR /><BR />
          {% endif %}
          <!--<form autocomplete="off" action="{% url 'FCM:processRewindConsent' %}" method="post">-->

          <!--<input type="checkbox" onchange="validateRewindOptions(this.id)" class="myCheckbox" id="checkUnderstand"
            name="checkUnderstand" value="1">
          <label for="checkUnderstand"> I understand the above instructions
          </label><BR/>-->
          <input type="hidden" id="rwgid" name="gameID" value="{{ gameID }}">

          <input type="checkbox" class="myCheckbox" id="checkOnce" name="checkOnce" value="1" {% if currentRewindConsent == 1 %} disabled checked {% endif %}{% if currentRewindConsent == 2 %} disabled{% endif %}>
          <label for="checkOnce">{% translate "Permission for single rewind" %}
          </label><BR />
          <input type="checkbox" class="myCheckbox" id="checkPermanent" name="checkPermanent" value="2" {% if currentRewindConsent == 2 %} disabled checked {% endif %}>
          <label for="checkPermanent"> {% translate "Permanent Permission" %}
          </label><BR />
          {% if currentRewindConsent != 2 %}
          <input type="submit" id="submitRewindConsent" class="registerbtn" value="{% translate "Give Permission" %}">
          {% endif %}
          <br/><span class="yellowRedWarning">{% translate "Rewinding from the start of the sales phase will go to the very start of the factory building phase" %}</span>
          <!--</form>-->

          <BR/><BR/>
          {% if myStatsExcludeConsent != "1" %} 
          <div id="statsExcludeConsentChangeDiv">
          <input type="checkbox" class="myCheckbox" id="checkStatsExclude" name="checkStatsExclude" value="1" {% if currentStatsExcludeConsent == 1 %} disabled checked {% endif %}>
          <label for="checkStatsExclude"> {% translate "Exclude game from stats" %}  </label>
          <input type="submit" id="submitStatsExcludeConsent" class="registerbtn" value="{% translate "Exclude From Stats" %}">
          </div>
          {% elif statsExcludedGame %}
          <BR/><BR/><span style="background-color: darkcyan;"> {% translate "Excluded from Stats" %}</span><BR/>
          {% else %}
          <BR/><BR/><span style="background-color:darkgoldenrod"> {% translate "Waiting for other players" %}</span><BR/>
          {% endif %}

          <BR/>
          {% blocktranslate trimmed %}
          If all non-bot players tick and confirm this option, this game won't count in any win/loss stats. You can use this if you simply wish to have a "less competitive" game, or
          you wish to exclude it for other reasons (EG multiple player kickouts) 
          {% endblocktranslate %}

        </div>
      </div>
      {% elif rewindPanelType == 2 and not finishedGame %}
      <div id="dropdownContainer">
        <!--<div id="showDropdown">Rewind Game Info ↓ </div>-->

        <div id="dropdown">
          {% blocktranslate trimmed %}
          As the game host, you must wait for all players to give permission.
          They can allow you to rewind once, or as much as you like.
          Try asking in chat for permission if you wish to rewind.
          Current Permissions:
          {% endblocktranslate %}
          <BR /><BR />
          <div>{{ rewindHostHTML|safe }}</div>
          <BR />
          {% translate "Reload the whole page to refresh permissions" %}<BR />
          {% if tournamentGame %}
          <BR /><b>{% translate "Tournament games are a bit more competitive, so you should not feel obligated to accept a rewind request" %}</b><BR />
          {% endif %}

          {% if rewindHostPossible %}<span class="topMenuItem" id="hostRewindIcon" data-type="99"><img
              src="{% static 'FCM/Images/rewind.svg' %}"><span>{% translate "REWIND" %}</span></span>
          {% else %}
          <BR />{% translate "Please wait for all players to give permission" %}
          {% endif %}
          <BR/><span class="yellowRedWarning">{% translate "Rewinding from the start of the sales phase will go to the very start of the factory building phase" %}</span>

          {% if myStatsExcludeConsent != "1" %} 
          <div id="statsExcludeConsentChangeDiv">
            <BR/>
          <input type="checkbox" class="myCheckbox" id="checkStatsExclude" name="checkStatsExclude" value="1" {% if currentStatsExcludeConsent == 1 %} disabled checked {% endif %}>
          <label for="checkStatsExclude"> {% translate "Exclude game from stats" %}  </label>
          <input type="submit" id="submitStatsExcludeConsent" class="registerbtn" value="{% translate "Exclude From Stats" %}">
          </div>
          {% elif statsExcludedGame %}
          <BR/><BR/><span style="background-color: darkcyan;"> Excluded from Stats</span><BR/>
          {% else %}
          <BR/><BR/><span style="background-color:darkgoldenrod"> {% translate "Waiting for other players" %}</span><BR/>
          {% endif %}

          <BR/>
          {% blocktranslate trimmed %}
          If all non-bot players tick and confirm this option, this game won't count in any win/loss stats. You can use this if you simply wish to have a "less competitive" game, or
          you wish to exclude it for other reasons (EG multiple player kickouts) 
          {% endblocktranslate %}

        </div>
      </div>
      {% endif %}

      <div id="topInfos">
        <div id="topbar">
          <div class="line"><span id="gameNameSpan">{% translate "Game" %}: <span id="gameName"></span></span></div>
          <div class="line">
            <span>{% translate "Turn" %}: </span><span id="turnNumber"></span> |
            <span>{% translate "Phase" %}: </span><span id="phase"></span>
            <span id="gameInfoSpan"> | <span>{% translate "Current player" %}: </span><span id="currentPlayer"></span></span>
          </div>
        </div>
        <div id="players"></div>
      </div>
    </div>

    <div id="wholeChat">
      <div id="chatBox">
        <h2>{% translate "Send a message" %}</h2>
        <div><textarea rows="6" name="chatMessage" id="chatMessage"></textarea></div>
        <div><button>{% translate "Send" %}</button></div>
      </div>
      <div id="messageList"></div>
    </div>

    <div id="history">
      <div id="historyToggleDiv"><label class="textLabel">{% translate "Oldest First" %}</label>
        <label class="switch">
          <input type="checkbox" checked onclick="historyToggle()">
          
          <span class="slider round"></span>
        </label>
        <label class="textLabel">{% translate "Newest First" %}</label>
      </div>
      <div id="historyMainDiv"></div>
      <div id="historyButtonDiv"></div>
    </div>
    
    <div id="wholeMainArea">
      <div id="display"></div>

      <div id="reserve"></div>

      <div id="bugReport">
        <h2>{% translate "Bug Report" %}</h2>
        <p>
        {% blocktranslate trimmed %}
          Please submit a bug report if you encounter any issues, giving as much detail as possbile.<BR/>
        The game data will be submitted along with your report. <BR>
         You can also report it on the OBG discord. Click <a href="https://discord.gg/hCU7Fr77yV" class="linkOther" target="_blank">Here</a> to join
         {% endblocktranslate %}

        </p>

        <div><textarea cols="150" rows="10" name="bugContent" id="bugContent"></textarea></div>
        <div><button id="submitBug">{% translate "Submit" %}</button>&nbsp;&nbsp;&nbsp;&nbsp;<button id="resetBug">{% translate "Cancel" %}</button></div>
      </div>

      <div id="notesBox">
        <h2>{% translate "Personal game notes" %}</h2>
        <p>{% translate "Only you can see these notes" %}</p>
        <div><textarea cols="120" rows="10" id="notes"></textarea></div>
        <div><button id="submitNotes">{% translate "Submit" %}</button> <button id="clearNotes">{% translate "Clear" %}</button> <button
            id="closeNotes">{% translate "Close" %}</button></div>
      </div>

      <div id="playerLineDiv"></div>

      <div id="actions"></div>
      <div id="loader"><img src="{% static 'FCM/Images/loading-bar-black.gif' %}" /></div>

      <div id="SSD"></div>

      <div id="componentValidationDiv"></div>

      <div id="wholeFactoryDiv">
        <div id="eligibleComponentsDiv"></div>
        <div id="factoryFloorPlusCdiv"><!--<div id="componentValidationDiv"></div>-->
          <div id="newComponentAndQSPdiv">&nbsp;</div>
          <div id="factoryFloorDiv"></div>
        </div>
      </div>

      <div id="wholeMarketScreenDiv">
        <div id="wholeMarketBoardDiv">
          <div id="verticalTTdiv"></div>
          <div id="marketBoarddiv"></div>

          <div id="horizontalTTdiv"></div>
          <div id="marketBoardHelpDiv"></div>

        </div>
        <div id="otherTTdiv"></div>
        <div id="marketBoardDiv"></div>
      </div>
      
      <div id="main">

        <div class="row">
          <!-- <div id="boardContainer">-->
          <div id="board"></div>
          <!-- </div>-->
        </div>

      </div>
    </div>

  </div>

  <div id="footer">
    
    <div class="content">
      <img src="/static/HC/Images/hc-box.jpg" class="cover" />
      <p>
        {% translate "Horseless Carriage is a board game by Jeroen Doumen and Joris Wiersinga, published by <a href='https://www.splottershop.com/'>Splotter Spellen</a>." %}
      </p>
      <p>Online Board Gamers implementation by DodgerB</a></p>
      <p>Menu icons from <a href="http://game-icons.net">game-icons.net</a></p>
      </div>

  </div>

  <script>
    var global = {};
    global.gameCreationTimestamp = {{ gameCreationTimestamp }};
    global.KickoutFlexiDataArray = {{KickoutFlexiDataArray|safe}};
    global.deleteVotesData = {{ deleteVotesData | safe }};
    global.votedToDelete = false;

    {% if allPlayerListBySeat %}
    global.players = {{ allPlayerListBySeat | safe }};
    {% endif %}


    {% if user.is_authenticated %}

    global.liveWS = true;
    global.name = '{{ name }}';
    global.nextURL = '{{ nextURL|safe }}';

    {% endif %}


    global.gameName = '{{ gameName }}';

    global.gameID = {{ gameID }};

    {% if preferredHCcolour >= 0 %}
    global.preferredColour = {{ preferredHCcolour }};
    {% endif %}
    
    //////////////////////////////////////////////////////////////////////////////
    {% if involvedPlayer %}
    global.pov = {{ pov }};
    // This is used
    {% if user.username == 'BotKickStarter' %}
    global.pov = 0;
    {% endif %}

    {% if moveData %}
    global.move = {{ moveData | safe }};
    {% endif %}

    {% if temporaryMoveData %}
    global.temporaryMove = {{ temporaryMoveData | safe }};
    {% endif %}

    {% endif %}
////////////////////////////////

//////////////////////////
{%if not gameData %}
global.displayNames = "{{ displayNames }}";

    {% if startingOptionsLiteral %}
    global.startingOptions = '{{ startingOptionsLiteral }}';
    {% endif %}

    {% endif %}
////////////////////////

    global.chat = { "chat": [{{ chatData | safe }}], "testInfo": [] };

    {% if gameData %}
    global.load = '{{ gameData|safe }}';
    {% endif %}

    {% if now %}
    global.now = {{ now }};
    {% endif %}

    {% if currentPlayers %}
    global.currentPlayers = '{{ currentPlayers }}';
    {% endif %}

    //global.displayNames = 'adam,bob'

    global.latestUpdate = {{ latestUpdateLiteral }};

    // no
    {% if secondsToNextKickout %}
    global.secondsToNextKickout = {{ secondsToNextKickout }};
    {% endif %}


    
    global.saveRewind = true;
    global.historyOrder = 0;


    {% if currentNotes %}
    global.notes = "{{ currentNotes | safe }}";
    {% endif %}

    {% if chatNotification %}
    global.chatNotification = true;
    {% endif %}

    {% if kickoutRequired > 0 and not myMove %}
    global.kickoutRequired = {{kickoutRequired}};
    {% endif %}

    {% if liveNotification %}
    global.liveNotification = {{ liveNotification }};
    {% endif %}

    {% if user.is_authenticated and not involvedPlayer and not finishedGame and user.username == "BotKickStarter" %}
    // admin
    global.superuser = true;
    //global.pov = 0;
    {% endif %}

        {% if tournamentGame %}
    global.tournamentGame = true;
    {% endif %}

    //let zoomInterval;

  </script>
 <script src="{% url 'javascript-catalog' %}"></script>
  <script src="{% static 'HC/JS/lib/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'HC/JS/lib/lodash.min.js' %}"></script>

  {% if settingsDebug %}
  <script src="/static/HC/JSRoger.js"></script>
  <script src="/static/HC/JSHCutils.js"></script>

  <script src="/static/HC/JSHCreference.js"></script>
  <script src="/static/HC/JSHCplayer.js"></script>
  <script src="/static/HC/JSHCrules.js"></script>

  <script src="/static/HC/JSHCfactory.js"></script>

  <script src="/static/HC/JSHCmodel.js"></script>

  <script src="/static/HC/JSHCview.js"></script>

  <script src="/static/HC/JSHCcontroller.js"></script>
  <script src="/static/HC/JSHChistory.js"></script>


  <script src="/static/HC/JSHCio.js"></script>
  <script src="/static/HC/JSHCbot.js"></script>

  <script src="/static/HC/JSHCwebsocket.js"></script>


  <script src="/static/HC/JSHCmain.js"></script>
  <script src="/static/HC/JSHCtest.js"></script>
  {% else %}
  <script src="/static/HC/JSHCmain.js"></script>
  {% endif %}
</body>

</html>