{% extends "Lobby/layout.html" %}
{% load static i18n compress %}
{% block head %}
  <link href="{% static 'Lobby/CSS/mainSite.css' %}" rel="stylesheet">
{% endblock head %}
{% block body %}
  {% compress js %}
    <script src="{% static 'Lobby/common.js' %}"></script>
  {% endcompress %}
  <div class="container" id="changelogPage">
    {% if user.username == 'admin' %}
      Add Update
      <form method="post">
        {% csrf_token %}
        {% for field in changelogFormVar %}
          {{ field }}
          <br />
          <br ?>
        {% endfor %}
        <br />
        <input type="hidden" id="action" name="action" value="dooby">
        <button type="submit">Add Update</button>
      </form>
    {% endif %}
    <h1>Online Board Gamers Updates:</h1>
    For full updates and discussionse see the OBG Discord. Click <a href="https://discord.gg/hCU7Fr77yV"
    class="linkOther"
    target="_blank">Here</a> to join
    <br />
    <br />
    {% for change in allChanges %}
      <b><u><span class="timeToConvertSpan">{{ change.timestamp }}</span></u></b>
      <br />
      {{ change.update }}
      <br />
      <br />
    {% endfor %}
    {% include "Lobby/donate/donateBanner.html" %}
  </div>
  {% include "Lobby/common/homeButton.html" %}
{% endblock body %}
