{% extends base_template %}
{% load static %}
{% load i18n %}
{% block head %}
  {% if not request.use_new_design %}
    <link href="{% static 'Lobby/CSS/mainSite.css' %}" rel="stylesheet">
  {% endif %}
{% endblock head %}
{% block body %}
  {% if request.use_new_design %}<div class="nd-page nd-page-narrow">{% else %}<div class="container" id="contactPage">{% endif %}
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}

    {% if request.use_new_design %}
      <div class="nd-page-header">
        <h1>{% translate "Contact" %}</h1>
      </div>

      {% include "Lobby/donate/donateBanner.html" %}
    {% else %}
      <div id="contactPage">
        {% include "Lobby/donate/donateBanner.html" %}
      </div>
      {% include "Lobby/common/homeButton.html" %}
    {% endif %}
  </div>
{% endblock body %}
