{% extends "Lobby/layout.html" %}
{% load static i18n compress %}
{% block head %}
    <link href="{% static 'Lobby/CSS/mainSite.css' %}" rel="stylesheet">
    <link href="{% static 'Lobby/CSS/newGame.css' %}" rel="stylesheet">
    <style>
        /* Ensure topBar stays on top of map */
        .topBar {
            z-index: 1000 !important;
        }
        
        /* Map container should be below topBar */
        #hexDIV {
            z-index: 1;
        }
        
        /* Map preview container styles */
        #mapPreviewContainer {
            position: relative;
            overflow: hidden;
        }
        
        #mapPreviewContent {
            position: relative;
            min-height: 300px;
        }
        
        /* Hide map preview elements that might interfere */
        #mapPreviewContent .loading-text {
            display: none;
        }
    </style>
    {% if settingsDebug %}
        <script type="module" src="http://localhost:3042/static/@vite/client"></script>
        <script type="module" src="http://localhost:3042/static/main.js"></script>
    {% else %}
        <link href="{% static 'RNB/RNBvuedist/main.css' %}?" rel="stylesheet" />
        <script type="module"
                crossorigin=""
                src="{% static 'RNB/RNBvuedist/main.js' %}"></script>
    {% endif %}
    {% compress js %}
        <script src="{% static 'Lobby/createRNB.js' %}"></script>
    {% endcompress %}
    <script>
    window.initData = {
        showMapOnly: true,
        gameID: -1,
        startingMap: [],
        gameName: "{{ gameName|escapejs }}"
    };
    </script>
{% endblock head %}
{% block body %}
    {{ request.user.id|json_script:"user_id" }}
    {{ request.user.username|json_script:"username" }}
    <div class="container">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <!--<p><span style="font-size: 2em; background-color: yellow; color: darkred;">Want to play in person? Check out <a href="https://splottercon.com/" target="_blank">Splotter Con 2024</a>! Pittsburgh from Aug 30</span></p>
-->
        <div id="allOptions">
            <span class="topOfNewGameSpan">{% translate "New to Roads & Boats? For Rules, How to Play, and Game Guide, please see " %}<a class="linkOther" href="{% url 'RNB:RNBhelp' %}">{% translate "Help" %}</a></span>
            <form autocomplete="off"
                  action="{% url 'RNB:createRNBgame' %}"
                  method="post"
                  id="gameCreationForm">
                {% csrf_token %}
                <div class="topOfNewGameOptionsDiv">
                    <input type="hidden" id="mapData" name="mapData" value="{{ mapData }}">
                    <fieldset id="setupOptions" class="optionsGroupTop">
                        <legend class="optionsHeader">{% translate "Setup Options" %}</legend>
                        <div class="singleChoiceWithTextDiv">
                            <label class="choiceLabelText" for="pace">{% translate "Name" %}</label>
                            <div class="optionSelectionText">
                                <input type="text"
                                       class="textInput"
                                       name="gameName"
                                       id="name"
                                       placeholder="{% translate " Game name" %}"
                                       maxlength="100">
                            </div>
                        </div>
                        <div class="singleChoiceWithTextDiv">
                            <label class="choiceLabelText" for="description">{% translate "Description" %}</label>
                            <div class="optionSelectionText">
                                <input type="text"
                                       name="gameDescription"
                                       size="30"
                                       class="textInput"
                                       id="description"
                                       placeholder="{% translate "Optional, eg fast EST time zone" %}"
                                       maxlength="100">
                            </div>
                        </div>
                        <div class="singleChoiceDiv">
                            <label class="choiceLabel" for="pace">{% translate "Playing Speed" %}</label>
                            <div class="optionSelection">
                                <select name="pace" id="pace" onchange="validateOptions(this.id)">
                                    <option value="10">{% translate "Live: Play the game in one session" %}</option>
                                    <option value="20">{% translate "Fast: Several moves per day" %}</option>
                                    <option value="30" selected>{% translate "Standard: 1-2+ moves a day" %}</option>
                                    <option value="40">{% translate "Slow: At least one move a day" %}</option>
                                    <option value="50">{% translate "Casual: Just take your time" %}</option>
                                </select>
                                <br />
                                <span class="optionHelp">{% translate "Alters kickout options. All games update 'live'" %}</span>
                                <br />
                                <span class="optionHelp">{% translate "Setting speed to 'live' or 'fast' will stop 'your turn' emails being sent if the last move was less than 30 minutes ago" %}</span>
                            </div>
                        </div>
                        <div class="singleChoiceDiv">
                            <label class="choiceLabel" for="pace">{% translate "Number of players" %}</label>
                            <div class="optionSelection">
                                <select name="playerNumber" id="playerNumber" onchange="selectPlayers();">
                                    <option value="1">1 (Solo)</option>
                                    <option value="2" selected="selected">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </div>
                        </div>
                        <div class="singleChoiceWithTextDiv" id="selPlayer2">
                            <label class="choiceLabelText" for="player2">{% translate "Player 2" %}</label>
                            <div class="optionSelectionText">
                                <div class="autocomplete">
                                    <input type="text"
                                           id="player2"
                                           name="player2"
                                           class="textInput"
                                           autocomplete="off">
                                </div>
                                <span id="player2help" class="inlineHelp">{% translate "Leave blank to invite anybody" %}</span>
                            </div>
                        </div>
                        <div class="singleChoiceWithTextDiv" id="selPlayer3" style="display: none">
                            <label class="choiceLabelText" for="player3">{% translate "Player 3" %}</label>
                            <div class="optionSelectionText">
                                <div class="autocomplete">
                                    <input type="text"
                                           id="player3"
                                           name="player3"
                                           class="textInput"
                                           autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="singleChoiceDivText" id="selPlayer4" style="display: none;">
                            <label class="choiceLabelText" for="player3">{% translate "Player 4" %}</label>
                            <div class="optionSelectionText">
                                <div class="autocomplete">
                                    <input type="text"
                                           id="player4"
                                           name="player4"
                                           class="textInput"
                                           autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="singleChoiceDivText" id="selPlayer5" style="display: none;">
                            <label class="choiceLabelText" for="player3">{% translate "Player 5" %}</label>
                            <div class="optionSelectionText">
                                <div class="autocomplete">
                                    <input type="text"
                                           id="player5"
                                           name="player5"
                                           class="textInput"
                                           autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="singleChoiceDivText" id="selPlayer6" style="display: none;">
                            <label class="choiceLabelText" for="player3">{% translate "Player 6" %}</label>
                            <div class="optionSelectionText">
                                <div class="autocomplete">
                                    <input type="text"
                                           id="player6"
                                           name="player6"
                                           class="textInput"
                                           autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <span id="blitzWarningSpan">{% translate "Careful: A 5 min game with 3p could still take ~2+ hrs" %}</span>
                    </fieldset>
                    <fieldset id="basicOptions" class="optionsGroupTop">
                        <legend class="optionsHeader">{% translate "Common Options" %}</legend>
                        <div class="singleChoiceDiv">
                            <label class="choiceLabel" for="kickoutDuration">{% translate "Kickout available after:" %}</label>
                            <div class="optionSelection">
                                <select name="kickoutDuration" id="kickoutDuration" onchange="">
                                    <option value="100">{% translate "1 day" %}</option>
                                    <option value="200" selected="selected">{% translate "2 days" %}</option>
                                    <option value="300">{% translate "3 days" %}</option>
                                    <option value="500">{% translate "5 days" %}</option>
                                </select>
                            </div>
                            <br />
                            <span class="inlineHelp">{% translate "Change Playing Speed for different options" %}</span>
                        </div>
                        <input type="checkbox"
                               onchange="validateOptions(this.id)"
                               class="myCheckbox"
                               id="trainingGame"
                               name="trainingGame"
                               value="102">
                        <label for="trainingGame" class="checkboxLabel">{% translate "Practice Game" %}</label>
                        <br />
                        <span class="inlineHelp">
                            {% url "lobbyHelp" as the_url %}
                            {% blocktranslate trimmed %}
                                Play as up to 4 players on the same device.
                                See <a class="linkOther" href="{{ the_url }}#navGameType" target="_blank">Help</a>
                            {% endblocktranslate %}
                        </span>
                        <br />
                        <input type="checkbox"
                               onchange="validateOptions(this.id)"
                               class="myCheckbox"
                               id="privateGame"
                               name="privateGame"
                               value="1">
                        <label for="privateGame" class="checkboxLabel">{% translate "Private Game" %}</label>
                        <br />
                        <span class="inlineHelp">{% translate "Players can only join with invite or link" %}</span>
                        <br />
                        <input type="checkbox"
                               onchange="validateOptions(this.id)"
                               class="myCheckbox"
                               id="learningGame"
                               name="learningGame"
                               value="110">
                        <label for="learningGame" class="checkboxLabel">{% translate " Request Learning Game" %}</label>
                        <br />
                        <span class="inlineHelp">
                            {% url "lobbyHelp" as the_url %}
                            {% blocktranslate trimmed %}
                                Request help to learn the game.
                                See <a class="linkOther" href="{{ the_url }}#navGameType" target="_blank">Help</a>
                            {% endblocktranslate %}
                        </span>
                        <br />
                        <input type="checkbox"
                               onchange="validateOptions(this.id)"
                               class="myCheckbox"
                               id="experiencedGame"
                               name="experiencedGame"
                               value="120"
                               disabled>
                        <label for="experiencedGame" class="checkboxLabel">{% translate "Experienced Game" %}</label>
                        <br />
                        <span class="inlineHelp">
                            {% url "lobbyHelp" as the_url %}
                            {% blocktranslate trimmed %}
                                Minmum Experience Level. See <a class="linkOther" href="{{ the_url }}#navGameType" target="_blank">Help</a>
                            {% endblocktranslate %}
                            {% if not experienced %}
                                <br />
                                <span class="notEnoughExperience">{% translate "You do not have enough experience" %}</span>
                            {% endif %}
                        </span>
                        <br />
                    </fieldset>
                    <fieldset id="basicOptions" class="optionsGroupTop">
                        <legend class="optionsHeader">{% translate "Game Options" %}</legend>
                        <div class="singleChoiceDiv">
                            <label class="choiceLabel" for="mapSelection">{% translate "Select Map" %}</label>
                            <br />
                            <div class="optionSelection">
                                <select name="mapSelection"
                                        id="mapSelection"
                                        onchange="onMapSelectionChange();"
                                        oninvalid="this.setCustomValidity('{% translate "Please Select a Map" %}')"
                                        oninput="this.setCustomValidity('')"
                                        required>
                                    <option value="">Select Map (sorted by player count)</option>
                                </select>
                                <br />
                                <div class="mapFilterToggle">
                                    <label class="checkboxLabel">
                                        <input type="checkbox"
                                               id="isVerifiedToggle"
                                               onchange="clearMapSelection(); loadMaps();">
                                        {% translate "Verified maps only" %}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- Map Preview -->
                        <div class="singleChoiceDiv">
                            <div class="optionSelection">
                                <!-- Map Info Display -->
                                <div id="mapInfoDisplay" style="display: none; margin-bottom: 10px;">
                                    <div style="font-weight: bold;
                                                font-size: 16px;
                                                margin-bottom: 5px"
                                         id="selectedMapName"></div>
                                    <div style="color: #666;
                                                font-size: 14px;
                                                line-height: 1.4;
                                                white-space: pre-line"
                                         id="selectedMapDescription"></div>
                                </div>
                                <div id="mapPreviewContainer"
                                     style="min-height: 300px;
                                            border: 1px solid #ccc;
                                            background-color: #f9f9f9;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center">
                                    <div id="mapPreviewPlaceholder">{% translate "Select a map to preview" %}</div>
                                    <div id="mapPreviewContent"
                                         style="display: none;
                                                width: 100%;
                                                height: 100%">
                                        <div id="app" style="width: 100%; height: 100%;">
                                            <div id="loadingText">Loading Map........</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div>
                <input type="submit"
                       class="registerbtn createNewGameButton"
                       value="{% translate "Create Roads & Boats Game" %}">
            </div>
        </form>
        {% include "Lobby/donate/donateBanner.html" %}
        {% include "Lobby/splotterconSponsor.html" %}
    </div>
    {% block script %}
        <script>
    var global = {};
    global.player2normText = '{% translate "Leave blank to invite anybody" %}';
    global.player2practiceText = '{% translate "You can change the in-game name of the other players" %}';
    {% if experienced %}
    global.experienced = true;
    {% else %}
    global.experienced = false;
    {% endif %}
    document.addEventListener('DOMContentLoaded', function () {
                // Set submit button
        const form = document.getElementById('gameCreationForm');    
        if (form) {
            form.addEventListener('submit', function(event) {
                // event.submitter is the modern way to get the specific button clicked
                const btn = event.submitter || this.querySelector('.createNewGameButton');
                
                if (btn) {
                    // 1. Change text first
                    btn.value = "{% translate 'Creating Roads & Boats Game...' %}";
                    
                    // 2. Disable to prevent double-click
                    btn.disabled = true;
                    
                    // 3. Visual feedback
                    btn.style.backgroundColor = "#cccccc";
                    btn.style.cursor = "not-allowed";
                } else {
                    console.error("Submit button not found in form context.");
                }
            });
        }
        autocomplete(document.getElementById("player2"));
        autocomplete(document.getElementById("player3"));
        autocomplete(document.getElementById("player4"));
        
        // Load maps when page loads
        loadMaps();

    {% if fillData %}
    //alert("Filling Data")
    var setupData = {};
    setupData.gameName = "{{ gameName|escapejs }}";
    setupData.gameDescription = "{{ gameDescription }}";
    setupData.gamePace = {{ gamePace }};
    setupData.kickoutDuration = "{{ kickoutDuration }}";
    setupData.playerNumber = {{ playerNumber }};
    setupData.playerNames = {{ playerNames | safe }};
    setupData.startingOptions = {{ startingOptions }};
    initGameCreation(true, setupData);
    
    // Handle selectedMapId for solo map play
    {% if selectedMapId %}
    // Load maps and then select the specified map
    loadMaps().then(function() {
        var mapSelect = document.getElementById("mapSelection");
        if (mapSelect) {
            for (var i = 0; i < mapSelect.options.length; i++) {
                var option = mapSelect.options[i];
                if (option.value && option.value.includes("{{ selectedMapId }}")) {
                    mapSelect.selectedIndex = i;
                    onMapSelectionChange();
                    break;
                }
            }
        }
    }).catch(function(error) {
        console.error("Error loading maps for selection:", error);
    });
    {% endif %}
    {% else %}
    initGameCreation(false);
    {% endif %}      
});


   
        </script>
    {% endblock script %}
{% endblock body %}
