{% extends "Lobby/layout.html" %}
{% load static i18n compress %}
{% block description %}
    <meta name="description"
          content="{{ availableGamesList.0.gameName }} - {{ availableGamesList.0.gameDescription }}" />
{% endblock description %}
{% block canonical %}
    <link rel="canonical"
          href="https://www.onlineboardgamers.com/join/{{ gameCode }}{{ gameID }}" />
    <meta property="og:url"
          content="https://www.onlineboardgamers.com/join/{{ gameCode }}{{ gameID }}/" />
    <meta property="og:type" content="Online Board Gamers" />
    <meta property="og:title" content="Online Board Gamers" />
    <meta property="og:image"
          content="https://www.onlineboardgamers.com{% static 'Lobby/favicons/web-app-manifest-512x512.png' %}" />
    <meta property="og:description"
          content="{{ availableGamesList.0.gameName }} - {{ availableGamesList.0.gameDescription }}" />
{% endblock canonical %}
{% block head %}
    
{% endblock head %}
{% block body %}
    {% compress js %}
        <script src="{% static 'Lobby/Lobby.js' %}"></script>
        <script src="{% static 'Lobby/common.js' %}"></script>
    {% endcompress %}
    
    <div class="page" id="lobbyPage">
        {% include 'Lobby/messages.html' %}
        {% include 'Lobby/map_editor_forms.html' %}
        <div id="learningGameConfirmDiv">
            <b>Note:</b>
            The creator has requested a Learning Game.
            <br />
            You will be expected to help / teach the other player.
            <br />
            This game will be excluded from stats.
            <br />
            <br />
            Are you sure you want to join?
            <br />
            <div id="learningJoin" class="buttonDiv Join learningGameConfirmButtons">{% translate "Join" %}</div>
            <div id="learningCancel"
                 class="buttonDiv Leave learningGameConfirmButtons">{% translate "Cancel" %}</div>
        </div>
        <div class="page-header">
            <h2 class="page-title">{% translate "The link allows you to join the following game:" %}</h2>
        </div>
        <div id="availableGamesListView">
            {% if availableGamesList %}
                <div class="game-list">
                    <div class="table-wrap">
                        <table class="table gamesTable">
                            <thead>
                                <tr class="headingRow">
                                    <th></th>
                                    <th>{% translate "Name" %}</th>
                                    <th>{% translate "Players" %}</th>
                                    <th>{% translate "Options" %}</th>
                                    <th>{% translate "Created" %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for gameEntry in availableGamesList %}
                                    {% include "Lobby/gameDisplay/availableGameRow.html" with game=gameEntry %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                {% include "Lobby/empty.html" with message="No Available Games" %}
            {% endif %}
            {% url "lobbyHelp" as the_url %}
            <p class="" style="font-size:13px; margin-top: 12px;">
                {% blocktranslate trimmed %}
                    For icon explanations see
                    <a href="{{ the_url }}">Help</a>
                {% endblocktranslate %}
            </p>
        </div>
    </div>
    
    {% block script %}
        <script>
	var global = {}
	global.joinGameLink = true
        </script>

    {% endblock script %}
{% endblock body %}
