{% load static %}
{% load i18n %}
<div class="{{ iconsClass }}">
  <b><u><span>{% translate "What are the icons?" %}</span></u></b>
  <br />
  {% translate "The icons represent the options selected for that game. You can hover over the icon to see what it represents." %}
  <br/>
  <br/>
    <b><u>{% translate "Game Icons" %}</u></b><br/>
  <span class="helpStartingOptionSpan">
    {% include 'Lobby/gameDisplay/gameIcons.html' with game="FCM" %}
  {% translate "Food Chain Magnate" %}</span>
    <span class="helpStartingOptionSpan">
    {% include 'Lobby/gameDisplay/gameIcons.html' with game="HC" %}
  {% translate "Horseless Carriage" %}</span>
      <span class="helpStartingOptionSpan">
    {% include 'Lobby/gameDisplay/gameIcons.html' with game="Bus" %}
  {% translate "Bus" %}</span>
      <span class="helpStartingOptionSpan">
    {% include 'Lobby/gameDisplay/gameIcons.html' with game="TGZ" %}
  {% translate "The Great Zimbabwe" %}</span>
      <span class="helpStartingOptionSpan">
    {% include 'Lobby/gameDisplay/gameIcons.html' with game="CNS" %}
  {% translate "Cannes" %}</span>
      <span class="helpStartingOptionSpan">
    {% include 'Lobby/gameDisplay/gameIcons.html' with game="AQY" %}
  {% translate "Antiquity" %}</span>
      <span class="helpStartingOptionSpan">
    {% include 'Lobby/gameDisplay/gameIcons.html' with game="IND" %}
  {% translate "Indonesia" %}</span>
      <span class="helpStartingOptionSpan">
    {% include 'Lobby/gameDisplay/gameIcons.html' with game="KFW" %}
  {% translate "Keyflower" %}</span>
        <span class="helpStartingOptionSpan">
    {% include 'Lobby/gameDisplay/gameIcons.html' with game="WEB" %}
  {% translate "Web" %}</span>
  <br />
  <br/>
  <b><u>{% translate "All Games" %}</u></b><br/>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/Lobby/Images/so_learningGame.svg"
         title="{% translate "Learning Game" %}">
  {% translate "Learning Game - See <a class='linkOther' href='/help/#navGameType'>Help</a>" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/Lobby/Images/so_experiencedGame.svg"
         title="{% translate "Experienced Game" %}">
  {% translate "Experienced Game - See <a class='linkOther' href='/help/#navGameType'>Help</a>" %}</span>
    <br/>
    <br/>
    <b><u>{% translate "Food Chain Magnate" %}</u></b><br/>

  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_newMS.svg"
         title="{% translate "New Milestones" %}">
  {% translate "New Milestones" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_ketchupMS.svg"
         title="{% translate "Ketchup Milestone" %}">
  {% translate "Ketchup Milestone" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_reservePrice.jpg"
         title="{% translate "New Reserve Cards" %}">
  {% translate "New Reserve Cards" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_movieStars.svg"
         title="{% translate "Movie Stars" %}">
  {% translate "Movie Stars" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_massMarketeers.jpg"
         title="{% translate "Mass Marketeers" %}">
  {% translate "Mass Marketeers" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_GFC.jpg"
         title="{% translate "Gourmet Food Critics" %}">
  {% translate "Gourmet Food Critics" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_rural.jpg"
         title="{% translate "Rural Marketeers" %}">
  {% translate "Rural Marketeers" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/map23.jpg"
         title="{% translate "New Districts" %}">
  {% translate "New Districts" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_lobbyists.jpg"
         title="{% translate "Lobbyists" %}">
  {% translate "Lobbyists" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_nightShift.jpg"
         title="{% translate "Night Shift Manager" %}">
  {% translate "Night Shift Manager" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_coffee.svg"
         title="{% translate "Coffee" %}">
  {% translate "Coffee" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_fryChef.svg"
         title="{% translate "Fry Chef" %}">
  {% translate "Fry Chef" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_kimchi.svg"
         title="{% translate "Kimchi" %}">
  {% translate "Kimchi" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_sushi.svg"
         title="{% translate "Sushi" %}">
  {% translate "Sushi" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_noodles.svg"
         title="{% translate "Noodles" %}">
  {% translate "Noodles" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg" alt="Str Opt" width="50" height="50" src="/static/FCM/Images/so_strict.svg" title="{% translate "Turn Order Payday/Fridge" %}">
  {% translate "Turn Order Payday/Fridge" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_shortGame.svg"
         title="{% translate "Short Game" %}">
  {% translate "Short Game" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_noMS.svg"
         title="{% translate "No Milestones" %}">
  {% translate "No Milestones" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_noCEO.svg"
         title="{% translate "No CFO Milestone" %}">
  {% translate "No CFO Milestone" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_noRadio.svg"
         title="{% translate "No Radio Milestone" %}">
         {% translate "No Radio Milestone" %}</span>
         <span class="helpStartingOptionSpan">
           <img class="startingOptionHelpImg"
                alt="Str Opt"
                width="50"
                height="50"
                src="/static/FCM/Images/hardchoices2.jpg"
                title="{% translate "Hard Choices" %}">
                {% translate "Hard Choices" %}</span>
                <span class="helpStartingOptionSpan">
                  <img class="startingOptionHelpImg"
                       alt="Sbox"
                       width="50"
                       height="50"
                       src="/static/FCM/Images/so_sandbox.svg"
                       title="{% translate "Sandbox Mode" %}">
  {% translate "Sandbox Mode" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_randomMods.svg"
         title="{% translate "Random Modules" %}">
  {% translate "Random Modules" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_draftMods.jpg"
         title="{% translate "Draft Modules" %}">
  {% translate "Draft Modules" %}</span>

    <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_urbanPlanning.svg"
         title="{% translate "Urban Planning" %}">
  {% translate "Urban Planning" %}</span>
      <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_urbanPlanningPlus.svg"
         title="{% translate "Urban Planning Plus" %}">
  {% translate "Urban Planning Plus" %}</span>
       <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_jazz.svg"
         title="{% translate "Jazz Musicians" %}">
  {% translate "Jazz Musicians" %}</span>
        <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_dumplings.svg"
         title="{% translate "Dumplings" %}">
  {% translate "Dumplings" %}</span>
        <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_delivery.svg"
         title="{% translate "Delivery Drivers" %}">
  {% translate "Delivery Drivers" %}</span>
        <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/FCM/Images/so_hawkers.svg"
         title="{% translate "Hawker Truck Marketing" %}">
  {% translate "Hawker Truck Marketing" %}</span>

  <br/>
  <br/>
  <b><u>{% translate "The Great Zimbabwe" %}</u></b><br/>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/TGZ/images/so_schism.svg"
         title="{% translate "Use Schism Expansion" %}">
  {% translate "Use Schism Expansion" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/TGZ/images/so_customgods.jpg"
         title="{% translate "Selected gods" %}">
  {% translate "Selected gods" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/TGZ/images/so_customgodsVR.jpg"
         title="{% translate "Selected gods with altered VR" %}">
  {% translate "Selected gods with altered VR" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/TGZ/images/so_customSpecVR.jpg"
         title="{% translate "Altered Spec VR" %}">
  {% translate "Altered Spec VR" %}</span>
  <br />
  <br/>
  <b><u>{% translate "Cannes" %}</u></b><br/>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/CNS/images/so_expansion.svg"
         title="{% translate "Use Expansion" %}">
  {% translate "Use Expansion" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/CNS/images/so_tableS.svg"
         title="{% translate "Small Table" %}">
  {% translate "Small Table" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/CNS/images/so_table.svg"
         title="{% translate "Medium Table" %}">
  {% translate "Medium Table" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/CNS/images/so_tableL.svg"
         title="{% translate "Large Table" %}">
  {% translate "Large Table" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/CNS/images/so_junkS.svg"
         title="{% translate "Low Table Junk" %}">
  {% translate "Low Table Junk" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/CNS/images/so_junk.svg"
         title="{% translate "Medium Table Junk" %}">
  {% translate "Medium Table Junk" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/CNS/images/so_junkL.svg"
         title="{% translate "High Table Junk" %}">
  {% translate "High Table Junk" %}</span>
  <br/>
  <br/>
  <b><u>{% translate "Indonesia" %}</u></b><br/>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/IND/images/so_hiddenMoney.svg"
         title="{% translate "Players' money is hidden" %}">
  {% translate "Hidden Money" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/IND/images/so_aegean_map.svg"
         title="{% translate "Use the fan made Aegean Map" %}">
  {% translate "Use Aegean Map Expansion" %}</span>
  <br/>
  <br/>
  <b><u>{% translate "Keyflower" %}</u></b><br/>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/KFW/images/so_merchants.svg"
         title="{% translate "Use Merchants Expansion" %}">
  {% translate "Use Merchants Expansion" %}</span>
  <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/KFW/images/so_promos.svg"
         title="{% translate "Use Promo Tiles" %}">
  {% translate "Use Promo Tiles" %}</span>
    <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/KFW/images/so_infoHighPlus.svg"
         title="{% translate "High Knowledge" %}&#10;{% translate "of Hidden Info" %}">
         <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/KFW/images/so_infoHighMinus.svg"
         title="{% translate "High Knowledge" %}&#10;{% translate "of Hidden Info" %}">
  {% translate "High Level of Hidden Info" %}</span>
      <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/KFW/images/so_infoMedPlus.svg"
         title="{% translate "Medium Knowledge" %}&#10;{% translate "of Hidden Info" %}">
          <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/KFW/images/so_infoMedMinus.svg"
         title="{% translate "Medium Knowledge" %}&#10;{% translate "of Hidden Info" %}">
  {% translate "Medium Level" %}</span>
      <span class="helpStartingOptionSpan">
    <img class="startingOptionHelpImg"
         alt="Str Opt"
         width="50"
         height="50"
         src="/static/KFW/images/so_infoLow.svg"
        title="{% translate "Low Knowledge" %}&#10;{% translate "of Hidden Info" %}">
  {% translate "Low Level" %}</span>
</div>