{% extends "Lobby/layout.html" %}
{% load static %}
{% load i18n %}
{% block head %}
  <link href="{% static 'Lobby/CSS/mainSite.css' %}?v=20230230"
        rel="stylesheet">
  <link href="{% static 'Lobby/CSS/newGame.css' %}?v=20230230"
        rel="stylesheet">
{% endblock %}
{% block body %}
  <div class="container">
    <b><a class="linkOther size25text" href="{% url 'newMiniTournaments' %}">{% translate "Click here to create a Mini Tournament" %}</a></b>
    <h1>Games</h1>
    <a href="{% url 'createFCMpage' %}" class="newGameLink">
      <div id="createNewFCM">
        {% translate "Food Chain Magnate" %}
        <img src="{% static "FCM/images/fcm-box.jpg" %}" alt="Food Chain Magnate">
      </div>
    </a>
    <a href="{% url 'createHCpage' %}" class="newGameLink">
      <div id="createNewHC">
        {% translate "Horseless Carriage" %}
        <img src="{% static "HC/images/hc-box.jpg" %}" alt="Horseless Carriage">
      </div>
    </a>
    <a href="{% url 'createTGZpage' %}" class="newGameLink">
      <div id="createNewTGZ">
        {% translate "The Great Zimbabwe" %}
        <img src="{% static "TGZ/images/TGZ_box.jpg" %}" alt="Create new Game">
      </div>
    </a>
    <a href="{% url 'createINDpage' %}" class="newGameLink">
      <div id="createNewIND">
        {% translate "Indonesia" %}
        <img src="{% static "IND/images/INDbox.jpg" %}" alt="Indonesia">
      </div>
    </a>
    <a href="{% url 'createKFWpage' %}" class="newGameLink">
      <div id="createNewKFW">
        {% translate "Keyflower" %}
        <img src="{% static "KFW/images/KFWbox.jpg" %}" alt="Keyflower">
      </div>
    </a>
    <a href="{% url 'createAQYpage' %}" class="newGameLink">
      <div id="createNewAQY">
        {% translate "Antiquity" %}
        <br />
        <img src="{% static "AQY/images/AQYbox.jpg" %}" alt="Create new Game">
      </div>
    </a>
    <a href="{% url 'createBusPage' %}" class="newGameLink">
      <div id="createNewBus">
        {% translate "Bus" %}
        <img src="{% static "Bus/images/bus-box.jpg" %}" alt="Bus">
      </div>
    </a>
    <a href="{% url 'createCNSpage' %}" class="newGameLink">
      <div id="createNewCNS">
        {% translate "Cannes" %}
        <img src="{% static "CNS/images/CNSbox.jpg" %}" alt="Cannes">
      </div>
    </a>
    <a href="{% url 'createWEBpage' %}" class="newGameLink">
      <div id="createNewWEB">
        {% translate "Web" %}
        <img src="{% static "WEB/images/WEBbox.jpg" %}" alt="Web">
      </div>
    </a>
    <h1>Map Editors</h1>
    <a href="{% url 'FCMmapEditor' %}" class="newGameLink">
      <div id="createNewFCMmap">
        {% translate "FCM Map Editor" %}
        <img src="{% static "Lobby/images/createMap.jpg" %}" alt="FCM Map Editor">
      </div>
    </a>
    <a href="{% url 'TGZmapEditor' %}" class="newGameLink">
      <div id="createNewTGZmap">
        {% translate "TGZ Map Editor" %}
        <img src="{% static "Lobby/images/createMapTGZ.jpg" %}"
             alt="TGZ Map Editor">
      </div>
    </a>
    <a href="{% url 'AQYmapEditor' %}" class="newGameLink">
      <div id="createNewAQYmap">
        {% translate "Antiquity Map Editor" %}
        <img src="{% static "Lobby/images/createMapAQY.jpg" %}"
             alt="AQY Map Editor">
      </div>
    </a>
    {% include 'Lobby/donate/donateBanner.html' %}
  </div>
  {% include 'Lobby/common/homeButton.html' %}
{% endblock %}
