{% extends "Lobby/layout.html" %}
{% load static i18n compress %}
{% block head %}
    
{% endblock head %}
{% block body %}
    
    <div class="nd-page nd-page-narrow">
        {% include 'Lobby/_nd_messages.html' %}
        <div class="nd-page-header">
            <h1>{% if gameName %}{{ gameName }}{% else %}{% translate "Custom TGZ Options" %}{% endif %}</h1>
            <a class="nd-button nd-button-ghost" href="{% url 'index' %}">&#8592; {% translate "Lobby" %}</a>
        </div>
        <div class="nd-card">
            {% if gameDescription %}<p class="" style="margin-bottom:12px;">{{ gameDescription }}</p>{% endif %}
            <p style="margin-bottom:12px;">{% translate "The game will use the following customisations:" %}</p>
            <div class="nd-tgz-options">{{ godsVRhtml|safe }}</div>
        </div>
    </div>
    
{% endblock body %}
