{% extends "Lobby/layout.html" %}
{% load static i18n compress %}
{% block head %}
    <link href="{% static 'Lobby/CSS/mainSite.css' %}" rel="stylesheet">
{% endblock head %}
{% block body %}
    {% compress js %}
        <script src="{% static 'Lobby/playerInfo.js' %}"></script>
    {% endcompress %}
    <div class="container">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <h1>{{ gameName }}</h1>
        <h2>{{ gameDescription }}</h2>
        The game will use the following customisations:
        <br />
        <br />
        {{ godsVRhtml|safe }}
        {% include "Lobby/common/homeButton.html" %}
    </div>
{% endblock body %}
