{% extends "Lobby/layout.html" %}
{% load static %}
{% load i18n %}
{% block head %}
<link href="{% static 'Lobby/CSS/mainSite.css' %}?v=20230230" rel="stylesheet">
{% endblock %}
{% block body %}
  <script src="{% static 'Lobby/Tournament.js' %}?v=20220706"></script>
  <div class="container">
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
    <h1>{{ tournament.tournamentName }}</h1>
    {% if tournament.tournamentStatus == "FN" %}
      <h2>
        <b>{{ winnerHTML| safe }}</b>
      </h2>
    {% endif %}
    <h3>{% translate "Max Players" %}: {{ tournament.maxTournamentPlayers }}</h3>
    <h3>{% translate "Players per game" %}: {{ tournament.maxGamePlayers }}</h3>
    <h3>{% translate "Tournament Format" %}: {{ tournament.get_tournamentType_display }}</h3>
    {% if tournament.tournamentStatus == "OP" %}
      <div class="tournamentSignupContainer">
          <table class="generalTable">
            <tr>
              <th>#</th>
              <th>{% translate "Current Players" %}</th>
            </tr>
            {% for player in tournament.startingPlayers.all %}
              <tr class="clickablePlayerRow" id="playerRow{{ player.username }}">
                <td>{{ forloop.counter }}</td>
                <td>
                  <a href="{% url 'playerInfo' usernameToProfile=player.username %}">{{ player.username }}</a>
                </td>
              </tr>
            {% endfor %}
            {% for i in openSlots %}
              <tr>
                <td>{{ i }}</td>
                <td></td>
              </tr>
            {% endfor %}
          </table>
      </div>
      {% if not isSignedUp %}
        <br />
        <form action="{% url 'Tournament' gameType=gameType tournamentID=tournament.id %}" method="post">
          {% csrf_token %}
          <input class="registerbtn" type="submit" value="{% translate "Join Tournament" %}" />
        </form>
      {% endif %}
      <br />
    {% endif %}
    {% if tournament.tournamentStatus == "IP" or tournament.tournamentStatus == "FN" %}
      {{ roundsHTML|safe }}
      <br />
    {% endif %}
    {% include 'Lobby/donate/donateBanner.html' %}
  </div>
  {% include 'Lobby/common/homeButton.html' %}

{% block script %}{% endblock %}
{% endblock %}
