{% extends "Lobby/layout.html" %}
{% load static i18n compress %}
{% block head %}
  <link href="{% static 'Lobby/CSS/mainSite.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
  {% compress js %}
    <script src="{% static 'Lobby/common.js' %}"></script>
  {% endcompress %}
  <div class="container">
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
    <!--<p><span style="background-color: yellow; color: darkred; font-size: 25px;">Note: Tournaments are still in testing phase. Just be aware that whilst everything should work as intended, I can't test more than 5 players, so new issues may be discovered.
If anything does happen then I will keep the tournament going if at all possible, but be aware that worst case, you should still get a few fun games of FCM!</span><br />
-->
    <h1>{% translate "Tournaments" %}</h1>
    <p class="size25text">
      {% include 'Lobby/gameDisplay/gameIcons.html' with gameCode="HC" %}
      Horseless Carrige,
      {% include 'Lobby/gameDisplay/gameIcons.html' with gameCode="HC" %}
      Bus,
      {% include 'Lobby/gameDisplay/gameIcons.html' with gameCode="BUS" %}
      Indonesia, and
      {% include 'Lobby/gameDisplay/gameIcons.html' with gameCode="AQY" %}
      Antiquity Tournaments run at regular intervals
      <br />
      {% include 'Lobby/gameDisplay/gameIcons.html' with gameCode="FCM" %}
      {% translate "Food Chain Magnate Tournaments will run at regular intervals" %}
      <br />
      {% include 'Lobby/gameDisplay/gameIcons.html' with gameCode="TGZ" %}
      {% translate "The Great Zimbabwe Tournaments will run at regular intervals" %}
      <br />
      {% translate "For more information on tournaments, see" %} <a class="linkOther" id="helpLink2" href="{% url 'helpTournaments' %}">Tournaments Help</a> and check the Discord!
    </p>
    <p class="size25text">
      <a class="linkOther" href="{% url 'MiniTournaments' %}">{% translate "Click here for Mini Tournaments" %}</a>
    </p>
    <div class="allTournamentsContainer">
      <div class="allTournamentsDiv">
        <table class="generalTable">
          <tr>
            <th>{% translate "Game" %}</th>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Total Players" %}</th>
            <th>{% translate "Players per Game" %}</th>
            <th>{% translate "Format" %}</th>
            <th>{% translate "Starting Options" %}</th>
            <th>{% translate "Created" %}</th>
            <th>{% translate "Winner" %}</th>
          </tr>
          {% for tourny in tournamentsJson %}
            <tr onclick="window.location.href='{{ tourny.tournamentLink }}';">
              <td>
                {% if tourny.gameCode == 'FCM' %}
                  {% include 'Lobby/gameDisplay/gameIcons.html' with gameCode="FCM" %}
                {% elif tourny.gameCode == 'HC' %}
                  {% include 'Lobby/gameDisplay/gameIcons.html' with gameCode="HC" %}
                {% elif tourny.gameCode == 'BUS' %}
                  {% include 'Lobby/gameDisplay/gameIcons.html' with gameCode="BUS" %}
                {% elif tourny.gameCode == 'TGZ' %}
                  {% include 'Lobby/gameDisplay/gameIcons.html' with gameCode="TGZ" %}
                {% elif tourny.gameCode == 'AQY' %}
                  {% include 'Lobby/gameDisplay/gameIcons.html' with gameCode="AQY" %}
                {% elif tourny.gameCode == 'IND' %}
                  {% include 'Lobby/gameDisplay/gameIcons.html' with gameCode="IND" %}
                {% endif %}
              </td>
              <td>{{ tourny.tournamentName }}</td>
              <td>{{ tourny.maxTournamentPlayers }}</td>
              <td>{{ tourny.maxGamePlayers }}</td>
              <td>{{ tourny.tournamentType }}</td>
              <td>{{ tourny.startingOptionsHTML|safe }}</td>
              <td>
                <span class="timeToConvertSpan">{{ tourny.createdTS }}</span>
              </td>
              <td>{{ tourny.winnerHTML|safe }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <p class="size25text">
      {% include 'Lobby/gameDisplay/gameIcons.html' with gameCode="TGZ" %}
      Old TGZ Tournaments were run externally. View them on the <a href="{% url 'TGZtournaments' %}" class="linkOther">Old TGZ Tournaments Page</a>
    </p>
    <br />
    <br />
    {% include 'Lobby/donate/donateBanner.html' %}
  </div>
  {% include 'Lobby/common/homeButton.html' %}
  {% block script %}{% endblock %}
{% endblock %}
